[2017-11-05 21:21] EiffL opened #11 "Missing dependencies"
The setup.py script doesn't list all dependencies, in particular, I'm running into the following:
[code]

[2017-11-05 21:34] #11 closed

[2017-11-06 19:27] yymao opened #13 "remove `*_any` quantities"
Currently we have quantities like `magerr_u_any`, which were introduced so that users who do not care using the exactly same quantity among different catalogs would be able to grab the quantity without worrying which quantity exists in which catalog.

Since [GCR 0.2.1](https://github.com/yymao/generic-catalog-reader/releases/tag/v0.2.1), a new (and arguable better) way to do this is to use the `fi

[2017-11-06 19:35] evevkovacs commented on #13
I think this new method is better. It allows the user to define what the possibilities can be. Not to add more work, but I am assuming that the list of acceptable quantities is prioritized? ie above it asks for lsst first, then failing that sdss, then failing that des?

[2017-11-06 19:40] yymao commented on #13
Yes, hence the name `first_available`. This way, the user can decide the fallback sequence they need.

[2017-11-06 19:46] EiffL commented on #13
I like it, my only worry would be that you don't know exactly which magnitude is being used, a printed or log message would be a nice feedback to the user in case the first choice is not available.

[2017-11-06 19:52] yymao commented on #13
@EiffL, that's a good point. The question is whether this function should always print that information out, since the user can always add a line to check? Thoughts?

[2017-11-06 19:56] evevkovacs commented on #13
The user specifies and ordered list (that's why I asked), so by looking at
the quantities list it is easy to see what's available. That said, a
message would be a nice convenience.

On Mon, 6 Nov 2017, Francois Lanusse wrote:

***************************************************************
Eve Kovacs
Argonne National Laboratory,
Room L-177, Bldg. 360, HEP
9700 S. Cass Ave.
Argonne, IL 60439 USA
Ph

[2017-11-06 19:59] EiffL commented on #13
I think a message in case the first choice is not available, something like "warning: %s not available, fallback quantity: %s". It is true that users can check, just in case they forget.

[2017-11-06 20:16] yymao commented on #13
OK. I've added that feature to GCR https://github.com/yymao/generic-catalog-reader/commit/659cd0bf61

[2017-11-06 20:45] EiffL opened #15 "Expose galaxy ellipticity in protoDC2 reader"
The current implementation of the reader does not define an `ellipticity` field for the galaxy, nor does it define fields like `disk_re_a_true` related to galaxy morphology. The information seems to be in there (a number of morphology related native fields) but not sure how they translate into the quantities described in the schema.

[2017-11-06 20:47] yymao commented on #15
Does anyone know why/how GitHub prevents me from assigning @dkorytov ..?

BTW, @j-dr, how was `ellipticity` defined in the Buzzard catalog?

[2017-11-06 21:48] j-dr commented on #15
Ellipticity (shear) is defined as being the components of ellipticity (shear) along the local RA,DEC directions.

[2017-11-07 00:57] yymao opened #16 "include metadata or descriptions for each quantity"
As requested by https://github.com/LSSTDESC/descqa/issues/16 it would be useful to include metadata or descriptions for each quantity.

This can either be done in the yaml file as part of the catalog description, or at a separate place and we modify the base class to read in.

[2017-11-07 01:00] yymao commented on #13
Resolved by #14

[2017-11-07 01:00] #13 closed

[2017-11-14 23:38] yymao commented on #16
As of GCR 0.6.0 (see https://github.com/yymao/generic-catalog-reader/pull/8), this is now possible by implementing the `_get_quantity_info_dict()` method.

[2017-11-14 23:44] yymao commented on #16
@j-dr @dkorytov @evevkovacs moving our discussion back to GitHub---

I've implemented Eve's suggestions in the base catalog. For each quantity, the info would be a dict like:
`{'unit': 'Mag', 'description': 'r-band magnitude of the galaxy'}`

As for @dkorytov's question, I'm fine with using string. I believe astropy.unit can convert string to supported units so the users can do that if they want t

[2017-11-15 00:44] danielsf opened #20 "GCRCatalogs cannot load quantities"
The following code:
[code]
gives the following error
[code]

[2017-11-15 00:47] yymao commented on #20
@danielsf can you try `pip install GCR==0.6.1`?

[2017-11-15 00:50] danielsf commented on #20
Okay.  That worked.  Thanks.

I was working with clone of generic-catalog-reader, is that no longer the right thing to do (well, I guess it is obviously not the right thing to do; maybe I am asking "did we know that would break")?

[2017-11-15 00:54] yymao commented on #20
@danielsf yes, that was known and fixed in #18. Should have given you a heads-up, sorry! And later I also made GCRCatalogs's minor version in sync with GCR's minor version. Both are now at 0.6.x

[2017-11-15 00:54] #20 closed

[2017-11-16 02:31] yymao commented on #15
Note: this is required by https://github.com/LSSTDESC/descqa/issues/14

[2017-11-16 03:56] dkorytov commented on #15
I'll add the ellipticity along RA/Dec and expose them as GCR quantities.

On Wed, Nov 15, 2017 at 8:31 PM, Yao-Yuan Mao <notifications@github.com>
wrote:

[2017-11-28 07:11] yymao opened #26 "Include hash sum in config files to ensure file version/integrity"
We can add a hash sum to the yaml config for corresponding catalog files, and let the reader check the hash sum before it loads the catalog. In this fashion we can ensure the version and integrity of the catalog files.

The downside is that for large catalogs, it will take a long time to check hash sum (and we probably want to use Python build-in module to reduce dependency). I guess we can make c

[2017-11-28 17:22] dkorytov commented on #26
I've added a major and minor version number in the most recent catalog and there is also a catalog creation date string. That can be used to ensure the correct version of the catalog is being read in.

For ensuring against corruption: One way would be to have a global hash on the entire file as an option, but as Yao said that would take a long time. We can also hash each column and save it as colu

[2017-12-03 03:51] yymao commented on #26
The version checking part is addressed in #31. Checking for file integrity is computationally expensive so I don't think we'll do it now. I'm closing this issue. If at a later time we want to check file integrity, we will open a new issue.

[2017-12-03 03:51] #26 closed

[2017-12-04 17:40] chihway opened #33 "potential issue with units of RA/DEC"
In protoDC2 catalog, the RA/DEC ranges seem to be from -0.00069444231 to 0.00069444231, possibly some unit issue?

This is what I did:
gc = GCRCatalogs.load_catalog('protoDC2')
catalog = gc.get_quantities(['ra', 'dec', 'shear_1', 'shear_2', 'convergence'])
catalog['ra'].min()

-0.00069444231

[2017-12-04 18:03] yymao commented on #33
Confirmed. Issue with `majorVersion` and `minorVersion` not set correctly in the catalog. @dkorytov is working on a fix.

[2017-12-04 20:51] duncandc opened #35 "include sky area as basic mock property"
I think we should consider including the angular area of mocks as a basic property that mock creators need to supply for their associated readers.  Are the any objections or issues I am not noticing?

[2017-12-04 20:51] #33 closed

[2017-12-04 21:05] dkorytov commented on #35
I guess it should be added to the metadata section in the catalog. Does the GCR support access to the metadata section? OR do users need to access the file directly?

[2017-12-04 21:07] yymao commented on #35
@dkorytov it should go through the reader, i.e., the reader should set `self.sky_area` to some value. The reader can set this by reading the value in the metadata of the file.

[2017-12-04 22:26] j-dr commented on #35
@yymao, do we want this in square degrees, or square arcminutes or something else?

[2017-12-04 22:28] yymao commented on #35
@j-dr we haven't agreed on the standard yet. Since ra and dec are in degree, it seems sq. deg. make sense?

[2017-12-04 22:29] duncandc commented on #35
I like sq. degrees.

[2017-12-04 22:34] j-dr commented on #35
Makes sense to me.

[2017-12-04 23:24] yymao commented on #15
This has been fixed already.

[2017-12-04 23:24] #15 closed

[2017-12-05 00:25] dkorytov commented on #35
Yeah, I agree.

On Dec 4, 2017 4:35 PM, "Joe DeRose" <notifications@github.com> wrote:

[2017-12-05 01:53] yymao commented on #35
The Buzzard part has been addressed in #37 by @j-dr.

[2017-12-05 04:46] chihway opened #39 "catalog redshift range"
Is there a reason that the catalog is cut at z<1? Is the catalog intended to be full LSST depth?

Here's the redshift distribution (histogramming "redshift" and "redshift_true")...

![image](https://user-images.githubusercontent.com/2736097/33590427-eabbcad2-d944-11e7-9917-4470ce634c25.png)

[2017-12-05 04:52] yymao commented on #39
Pinging @evevkovacs @dkorytov

[2017-12-05 05:20] evevkovacs commented on #39
Yes, protoDC2 was run on a small simulation box. We already have ~10 replications to go out to z~1. The full DC2 is based on a much larger simulation and will go out to z~2-3, with ~1 replication.

[2017-12-05 17:51] #39 closed

[2017-12-06 06:29] yymao commented on #35
Sky area is added to DC1 in #42, and to protoDC2 in #40. We now close this issue.

[2017-12-06 06:31] #35 closed

[2017-12-06 14:50] chihway opened #44 "astropy cosmology does not have sigma8"
With gc.cosmology, there is no cosmological parameters associated with the power spectrum amplitude... that seems like an important quantity to have. Maybe we need something beyond astropy?

[2017-12-06 19:11] yymao commented on #44
The proposal is the following:
- add a new `CosmologyParameters` class in `GCRCatalogs` that the readers can use.
- `CosmologyParameters` will have the same call signature as the current CCL python wrapper.
- `CosmologyParameters` will have `to_ccl()` and `to_astropy()` methods.
- `catalog_instance.cosmology` will then return a `CosmologyParameters` instance **Note**: this is not backward compatib

[2017-12-06 23:01] DouglasLeeTucker opened #46 "pandas dataframes created from buzzard_test data seem to have issues with big-ending/little-endian confusion."
When trying to manipulate data that has been read from the buzzard_test catalog via the GCR interface into a Pandas dataframe, errors keep on cropping up of the sort:  "ValueError: Big-endian buffer not supported on little-endian compiler".  We understand that the original buzzard* catalogs are in FITS format.  Perhaps there is a byteswap issue in the GCR FITS read interface?

Thanks!

[2017-12-07 20:53] #46 closed

[2017-12-07 23:53] yymao opened #49 "attribute `sky_area` missing in protoDC2 reader"
@dkorytov during the stream of PRs, it seems that we forgot to add attribute `sky_area` to the protoDC2 reader, and @duncandc noticed this. Can you put it back in? Thanks!

[2017-12-08 07:47] yymao opened #50 "automate integration tests that require NERSC resources"
Now that GCRCatalogs have real users (aka people not on the DESCQA team) and people have started to make plots with these catalogs, it is important to test the updates to readers and catalogs before releasing them.

While there are some very basic unit tests in place, most of the major issues are likely to come up at the integration stage (e.g., with interfacing with DESCQA or with actual catalog

[2017-12-08 14:17] EiffL opened #51 "Syntax error in the protoDC2 tidal addon"
When  loading the catalog, the following error occurs:
[code]

[2017-12-08 14:33] yymao commented on #51
This is now fixed in #52

[2017-12-08 14:33] #51 closed

[2017-12-08 15:51] yymao commented on #50
- [ ] @yymao @heather999 @tomuram figure out how to submit a job to run at NERSC from SLAC

[2017-12-08 16:40] yymao commented on #50
Further conversation with @jchiang87 and @heather999 points out the need of a special NERSC account that can be used to ssh into NERSC and submit a batch job.

[2017-12-08 16:53] heather999 commented on #50
@tony-johnson and @brianv0 Jim suggested that we'd want to submit these jobs from SLAC via Jenkins using a special NERSC account.  We're going to need your expertise :)

[2017-12-08 20:30] yymao opened #54 "implement a version checker for protoDC2 reader"
The version checker would check the github repo (if internet available) to ensure that users have the most up-to-date reader installed.

[2017-12-08 21:45] dkorytov commented on #49
This fixed in the newest PR.

[2017-12-08 21:47] yymao commented on #49
Thanks @dkorytov. This is now closed as it is fixed in #48

[2017-12-08 21:47] #49 closed

[2018-01-18 16:45] EiffL opened #65 "Update protoDC2 tidal addon catalog to common addon framework"
I created a  more generic addon framework to add a random walk component to protoDC2 which loads all the quantities of the  main catalog and can add additional quantities from a secondary hdf5 file. This feature (currently in https://github.com/LSSTDESC/gcr-catalogs/pull/64) is slightly different from the default behavior of  the tidal addon and it  should be updated for homogeneity

[2018-01-18 18:53] fjaviersanchez opened #66 "Implement instance catalog reader"
For DC2 we want to also check the instance catalogs so a reader should be in place. For now, I'll try to implement it myself.

[2018-01-19 00:55] fjaviersanchez commented on #66
I think [this repo](https://github.com/LSSTDESC/sims_GCRCatSimInterface/tree/master/python/desc/sims/GCRCatSimInterface) is related to this issue?

[2018-01-19 01:00] yymao commented on #66
@fjaviersanchez Not exactly. That repo has the interface from GCR --> CatSim. And what we need now is the interface from CatSim --> GCR.

@danielsf and I have discussed the CatSim --> GCR interface and we both agree it should be easy to implement, but obviously neither of us has found time...

[2018-01-19 16:18] yymao opened #67 "Make SED labels conform to the schema in protoDC2 reader"
Now that we have agreed on how to specified SED labels in the [schema](https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/SCHEMA.md), we should make SED labels in the protoDC2 reader conform to the schema.

[2018-01-19 17:08] yymao commented on #16
This is now implemented in protoDC2 (but not in Buzzard). I am closing this issue. If people want this in Buzzard, they should open a new issue.

[2018-01-19 17:08] #16 closed

[2018-01-19 17:09] yymao commented on #54
Preparing for Run 1.1, the reader should have an option to check the hash sum of the file.

[2018-01-19 19:21] yymao commented on #54
We will not implement a online version check for the reader *itself* since people should always use the reader in the environment. (Online check of the catalog version still exists.)

But we will still implement a md5sum check (which is implemented in #68).

[2018-01-19 22:17] evevkovacs opened #70 "Add Av and Rv to the reader for protoDC2"
Av and Rv are required by the schema and should be supplied by the reader. These quantities are needed for image sims and should be subjected to readiness testing.

[2018-01-19 22:30] yymao commented on #70
Thanks @evevkovacs.

@danielsf also pointed out a [code reference](https://github.com/LSSTDESC/sims_GCRCatSimInterface/blob/master/python/desc/sims/GCRCatSimInterface/CatalogClasses.py#L37) which I think would be useful when we implement this in the protoDC2 reader.

[2018-01-22 19:28] dkorytov commented on #70
So I've implemented the Av & Rv quantities. There are infinities in both of them and Rv has NANs when the denominator is zero with an non-zero numerator.

Here's a distribution of Av (2nd figure is just a zoom in )
![image](https://user-images.githubusercontent.com/25048061/35240018-c1b0b702-ff77-11e7-8017-8ae04d45d1e1.png)

Rv
![image](https://user-images.githubusercontent.com/25048061/35240123-0

[2018-01-22 20:25] dkorytov commented on #70
@danielsf, I forgot to mention you in the above post.

[2018-01-22 21:12] evevkovacs commented on #70
The distribution for Av looks reasonable I think. The infinities are probably due to a failure in the dust model extrapolations. Andrew B worked hard on these, so maybe not so much room for further improvement.  As long as it is just a handful, it should be acceptable. Rv for the Milky Way is 3.1, so I think Rv looks ok too, but @danielsf should comment.

[2018-01-22 22:36] danielsf commented on #70
@dkorytov For my own sanity: what are

1) the total number of galaxies with Rv<0
2) the total number of galaxies with |Rv| > 5
3) the total number of galaxies in the sample (so I can see (1) and (2) as fractions)

Thanks

[2018-01-22 22:54] dkorytov commented on #70
@danielsf here it is:
Rv<0 / total = 3097/18265 = 0.1696
|Rv| > 5 / total = 3285/18265 = 0.1799

The sample isn't too large because I'm using a small test catalog on my laptop.

[2018-01-22 23:01] danielsf commented on #70
Rv>5 sounds large to me (though, admittedly, I am not an expert on interstellar dust in any galaxy).  If your sample is representative, and ~ 20% of galaxies are showing such high Rv values, we should put some effort into figuring out whether that is okay.  Whether "some effort" means consulting someone who is an expert or doing a quick literature search depends on whether we

a) know any dust exp

[2018-01-22 23:19] evevkovacs commented on #70
Pinging @abensonca. Rv and Av distributions derived from the B and V filters and the dust corrections are shown above along with some outlier fractions. The outlier fractions that Dan quoted seem a bit large.

[2018-01-22 23:20] dkorytov commented on #70
My sample should be representative, it's a small ra/dec cut out but out to same redshift. I'll rerun on the full catalog just to be sure.

Just for reference here is the r-band & Rv relation:
![image](https://user-images.githubusercontent.com/25048061/35249620-4fc31876-ff98-11e7-9a41-2931c2ab95d3.png)

[2018-01-22 23:27] abensonca commented on #70
Agreed. Those outlier fractions do seem large. The Av distribution looks ok - since there are infinities in there we should probably try to fix that though - it's probably just a case of figuring out what input (to the interpolator) quanity is bad for those cases and trapping it.

For Rv I agree we should try to get a sense of whether these values are unreasonable or not. As always, it's entirely

[2018-01-22 23:28] abensonca commented on #70
For the Av infinities - as usual if we can extract a handful of galaxies that show this problem and locate the original Galacticus files that contain them I can track back through the calculation and see what went wrong. (This would be useful to do right now since I re-wrote the dust post-processing recently so I'd want to check if the same problems still occur.)

[2018-01-22 23:34] evevkovacs commented on #70
These dust corrections were all computed with the old perl code. The new python code has only been used for the galaxies with z > 1. If Dan can identify a file with Av infinities, I can rerun the dust corrections on that file using the new code to see if the problem is reproduced.

[2018-01-22 23:34] abensonca commented on #70
ok - that sounds like a good plan.

[2018-01-23 20:28] dkorytov commented on #70
An example infinity Av galaxy:
nodeIndex: 1288029815550519306
In file on datastar: /media/luna1/kovacs/galacticus/results/galacticus_outputs_v0.9.4/AlphaQv3LB_dust_ELG_linked/nbody_AlphaQ_z1.1_BH_SDSS_LSST_BV_ELG_SEDval44/AlphaQv3LB_split_75/galacticus_AlphaQv3LB_split_75_nbody_AlphaQ_z1.1_BH_SDSS_LSST_BV_ELG_SEDval44.hdf5

[2018-01-24 00:51] evevkovacs commented on #70
Please see the 2 galacticus files: galacticus_AlphaQv3LB_split_75_perl.hdf5 and galacticus_AlphaQv3LB_split_75_python.hdf5 in my usual downloads directory www.hep.anl.gov/kovacs/downloadsloads/dust. The _perl file was run with the old dust code and should contain the galaxy mentioned above. The -python file was made with the new code.@dkorytov can specify the snapshot in which to look.

[2018-01-24 01:07] #54 closed

[2018-01-24 05:54] yymao opened #71 "Create tag for Run 1.1"
I'm going to create a tagged version of gcr-catalog for Run 1.1. Since we now track the hash sum of the protoDC2 file, this tag will also freeze the catalog file.

Is there any issues/PRs should be resolved before we make this tag? There are some proposed changes to the catalog and reader, but none of them seem urgent for Run 1.1. Correct me if that's not that case @dkorytov @evevkovacs

[2018-01-24 05:54] dkorytov commented on #70
It's in snapshot 286.

On Tue, Jan 23, 2018 at 6:51 PM, Eve Kovacs <notifications@github.com>
wrote:

[2018-01-24 18:36] abensonca commented on #70
For nodeIndex=1288029815550519306 I find Av=infinity in both the original (Perl) and new (Python) implementations of the dust calculation. Looking into why this happens, the dust postprocessing code is working OK - it's simply that this galaxy has an unrealistic size - it's far too small which results in extremely dense gas and so the optical depth is unreasonably high. This then causes the lumino

[2018-01-24 19:31] evevkovacs commented on #70
The merger tree file is called AlphaQ_split.75.hdf5, and is in the same directory: www.hep.anl.gov/kovacs/downloadsloads/dust.  However, there are always going to be a few outliers like this, for which a calculation fails. For the galsampled protoDC2 we can add some checks to throw out galaxies with obvious problems.

[2018-01-24 19:32] abensonca commented on #70
Thanks. I'm happy to _not_ look into this if we're ok with these outliers.

[2018-01-24 19:49] evevkovacs commented on #70
@abensonca Yes, please shelve it for now. I think we have a work-around and I would like to get a better idea of what the outlier fractions are for the various quantities.

[2018-01-24 20:31] #67 closed

[2018-01-24 21:06] dkorytov commented on #70
I'm ready to submit a PR for adding Av & Rv to the GCR. It seems the issues are coming from the dust model and not the GCR.

[2018-01-25 17:42] yymao opened #72 "add `stellar_mass_disk` and `stellar_mass_bulge`"
@dkorytov mentioned that we should use stellar mass to check if the disk/bulge component exists. Hence, I think we should add `stellar_mass_disk` and `stellar_mass_bulge` to the protoDC2 reader as well as the schema, so that the user does not need to know the native labels.

[2018-01-25 17:51] yymao commented on #70
Note: https://github.com/LSSTDESC/sims_GCRCatSimInterface/issues/9 depends on this

[2018-01-25 17:51] rbiswas4 commented on #72
@yymao The current protoDC2 catalog seems to have the columns `totalMassStellar` and `diskMassStellar` which I was playing with. I assumed that the difference would be due to the bulge in this model, and was ignoring some other component like gas maybe?

But does your issue mean that I misinterpreted  the variables or the ones you are talking about?

[2018-01-25 17:56] yymao commented on #72
@rbiswas4 not really --- many quantities in these catalogs have two names: one is whatever the catalog creators have been using, and the other one is what the CS WG has agreed on.

The columns you mentioned are the former (our jargon for them is "native quantities"), which are total fine to use, but you should consider those labels "unstable" (label name may change, unit may change, etc). This iss

[2018-01-25 17:56] yymao commented on #72
Note: https://github.com/LSSTDESC/sims_GCRCatSimInterface/issues/10 depends on this

[2018-01-25 18:06] rbiswas4 commented on #72
@yymao Yes, that makes sense. (I had gotten these by listing all quantities including native ones), but it is good to know, that I should be looking for non-native quantities for an API. (From the naming, I had assumed that native were the catalog builder's quantities and the rest were `derived` off those). But having well defined standard variable names for the public API use is the right way to

[2018-01-25 18:28] yymao commented on #72
@rbiswas4 The idea here is that, for a regular quantity (i.e., stable, not *native*), the user ought to be able to find its unit and definition [in the schema](https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/SCHEMA.md).  On the other hand, for a native quantity (i.e., unstable quantity), the user has to guess or ask the catalog provider for detail and know that its name or definit

[2018-01-25 21:47] yymao commented on #71
@evevkovacs @dkorytov it's about time to create the tag. Please let me know if you have any objections.

It would be great if we can merge #73 (if @dkorytov has time to review it). But I don't think it is used in Run 1.1 anyway so it not a big deal.

[2018-01-25 21:53] #72 closed

[2018-01-25 22:55] yymao commented on #71
OK, #73 has been merged, but @dkorytov [mentioned](https://github.com/LSSTDESC/descqa/issues/65#issuecomment-360623381) that he wants to fix #70 before we create the tag.

[2018-01-28 22:56] evevkovacs opened #76 "Add size_minor to schema and gcr reader"
@yymao  @dkorytov For the ellipticity test, I need to recompute the ellipticity using the axis ratio for the galaxy. (because the data defintion  differs from the schema definition). But I just checked and only have size_minor_bulge_true, size_minor_disk_true, size_true, size_bulge_true, size_disk_true. I need  size_minor_true, which is not available. For protoDC2, this quantity needs to be added

[2018-01-28 23:34] evevkovacs commented on #76
@yymao  @dkorytov @EiffL Actually, we need more quantities. In order to compare with the data, I need to make a cut on morphology. Rachel suggested using B/T cuts, so I also need bulge_to_total ratios as well.

[2018-01-29 01:27] yymao commented on #76
`size_minor_true` is already in the [schema](https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/SCHEMA.md). To add it to protoDC2, maybe we should calculate it from `size_true` and `ellipticity_true` so that their relationships remain self-consistent?

As for bulge to total ratio, is it just `stellar_mass_bulge / stellar_mass`? If so, it seems simple enough that the user can just cal

[2018-01-29 01:48] EiffL commented on #76
There are several definitions  out there for  bulge to total ratio, but the one used in Benjamin's COSMOS paper is a ratio of luminosities:

(Joachimi et al. 2013)
We could easily use something like
[code]
just have to pick the right band...

[2018-01-29 02:11] EiffL commented on #76
Also, I don't think the luminosity averaged ellipticity is the right thing to use here, we should use the  luminosity averaged moments of  both components to get to the total ellipticity, as in https://github.com/EiffL/DESCUtilities/blob/master/compute_total_ellipticity.ipynb

[2018-01-29 05:46] evevkovacs commented on #76
@EiffL Yes, for protoDC2 we can add the quantity as you suggest, but if we want the test to work for other catalogs such as Buzzard, then it would be better for B/T to be exposed in the GCR.  And yes, most observers use luminosity ratios, so I think that's a better measure than the ratios of stellar masses. I agree that luminosity averaged ellipticity is not right and we need to do something more

[2018-01-29 20:36] yymao commented on #76
@EiffL I thought the use of K-band luminosity is due to it's stronger correlation with stellar mass? I'm not sure which optical band we should use to mimic K-band.

[2018-01-29 21:49] yymao commented on #70
This is now fixed by #74.

[2018-01-29 21:49] #70 closed

[2018-01-29 21:53] #76 closed

[2018-01-30 17:57] jchiang87 commented on #50
Capturing advice from Tony (via email) on how to do this:
[code]
For the first option, Tony provided
[code]

[2018-01-30 20:12] #71 closed

[2018-02-01 03:14] yymao opened #79 "Use `mag_true_<band>_<filter>` in protoDC2 and add to schema"
Currently the fields `mag_<band>_<filter>` in protoDC2 are actually unlensed and should be called `mag_true_<band>_<filter>`.

The schema should have corresponding fields.

[2018-02-01 18:55] fjaviersanchez commented on #66
This is started in PR#80

[2018-02-09 20:03] evevkovacs opened #81 "Create mask for redmapper-selected galaxies and make it available in GCR"
Redmapper-selected sample would be useful for many tests. Since the sample is known, we can create and save a mask that could be called in the GCR to make the sample available in DESCQA or for other users by simply applying the mask.

[2018-02-09 20:06] yymao commented on #81
@j-dr let me know if you need any help.

[2018-02-10 00:11] jchiang87 commented on #50
@yymao Brian helped me set up the Jenkins job on the SLAC server, and I've made a cron job that ensures the jenkins agent at NERSC is running under the `desc` account.  We triggered Jenkins to run a `hello, world` script at NERSC:
https://srs.slac.stanford.edu/hudson/job/LSST-DESC/job/nersc-helloworld/lastBuild/console
So we can start to discuss what github events to trigger on and where to put th

[2018-02-10 00:26] yymao commented on #50
That's great! Thanks @jchiang87! Several questions:

- Where do we put together the script to run, NERSC or SLAC? In your example I did not see a script on the NERSC side.
- What environment variable will we have in the script?
- I assume we also need to add something to the `.travis.yml` to trigger the Jenkins build? Or can Jenkins monitor GitHub on its own?

[2018-02-10 00:30] jchiang87 commented on #50
The script can live anywhere at NERSC where the `desc` account can access (so any `lsst` group area).   You can set any environment you need within that script. The Jenkins configuration is accessible through the Jenkins interface.  I should be able to grant you access to add and configure jobs in the LSSTDESC area via your SLAC userid.

[2018-02-10 00:38] yymao commented on #50
@jchiang87 OK. For the NERSC-side script, the first thing it needs to do is to clone the targeted PR or commit. So how can the NERSC-side script know which PR/commit to clone? I imagine that must be through the Jenkins?

[2018-02-19 20:30] #79 closed

[2018-02-23 16:17] yymao opened #85 "Specify ellipticity definition (its relation to aspect ratio)"
We should explicitly specify the relationship between ellipticity (e) and aspect ratio (q) in the schema. In protoDC2 we are using e = (1-q)/(1+q).

(Thanks @evevkovacs for noticing this)

[2018-02-23 20:17] #85 closed

[2018-03-07 18:53] danielsf opened #93 "reference catalogs will require lensed magnitudes"
In order to accurately simulate the reference catalogs that DM will be using, we need to provide the post-lensing magnitudes of the galaxies in the extragalactic catalog, since these are the magnitudes that will actually be measured by other surveys.  Currently, protoDC2 only contains the unlensed magnitudes.

[2018-03-07 20:20] aphearin commented on #93
@danielsf - thanks for calling this to our attention. The lensed magnitudes can be computed from the unlensed magnitudes together with the lensing magnification, which @patricialarsen has computed and included as a column in the extragalactic catalogs. So it turns out this information is derivable based on the provided information, although you are correct that there is no column where it is compu

[2018-03-07 20:23] yymao commented on #93
Ah, so can we add the lensed magnitudes as derived quantities into the existing protoDC2 reader, right?

[2018-03-28 12:54] yymao commented on #81
Closed by #97

[2018-03-28 12:54] #81 closed

[2018-04-05 15:39] yymao commented on #93
@danielsf just want to check in with you to see if this needs to be fixed for Run 1.2 or it is only relevant in post-processing?

[2018-04-12 20:04] yymao opened #104 "map magnitudes to dusted magnitudes in protoDC2"
It is recently discovered that the "dusted" magnitudes in the protoDC2 catalogs are accounting for the dust extinction from the host galaxy, but not from the Milky Way. Hence, these dusted magnitudes are what most general users would want to use. However, currently the magnitudes that are exposed via GCR are the undusted magnitudes, which are mostly only relevant for CatSim.

Hence, we should map

[2018-04-18 14:38] evevkovacs commented on #104
Some catalogs may not even have "dusty" magnitudes available, so we need to accommodate this possibility and provide a way for users to know if they are being provided dusty or dust-free magnitudes. The simplest option is to modify the schema definition to allow for either possibility and have the catalog providers add a metadata category to specify which type of magnitude is provided. A variable

[2018-04-18 15:08] yymao commented on #104
Actually, for catalogs built using empirical methods, the magnitudes usually already take host extinction into account (hence, dusty in this terminology).

[2018-04-18 15:25] aphearin commented on #104
Brief technical side note. I think language like "host-extincted" rather than "dusty" is more clear. For example, @rongpu was presented with "dusted" vs. "undusted" colors, and he understandably assumed we were referring to Galactic extinction, not extinction within the host galaxy. Whatever we decide on our default convention, let's keep this in mind.

[2018-04-18 16:25] dkorytov commented on #104
The SEDs for protodDC2 don't include host galaxy dust. Should we change it to include it?

[2018-04-18 16:33] evevkovacs commented on #104
No. CatSim is expecting SEDs without host-extinction effects. CatSim does it's own estimation of dust effects using A_v and R_v. But we should clarify in the schema that the SED quantities do not include host extinction.

[2018-04-18 16:49] yymao commented on #104
I think we should remap the SEDs as well. We will need to change the CatSim interface, but I do think we should make the GCR quantities map to ones that are most useful for general users.

[2018-04-18 17:00] evevkovacs commented on #104
@yymao @danielsf Scott should comment. The 2 "users" that would be most interested in SEDs are CatSim for Instance-Catalog generation and the PZ WG for calibration. The former wants SEDs without host extinction and the latter with. The best option might be for the schema to provide both in this case and let the user decide.

[2018-04-18 17:04] yymao commented on #104
CatSim ingests the quantities using a script, so it doesn't really care how long the quantity names are. I am mostly thinking of people who use notebook to explore the catalogs, and I think we want to use the shorter names for most-used quantities whenever possible.

[2018-04-18 17:24] yymao commented on #104
@evevkovacs oh, sorry for not being very clear, I think we should still still map the SEDs that have no host extinction to GCR quantities and let CatSim use GCR quantities. So a more concrete proposal is:

[code]

[2018-04-18 17:28] evevkovacs commented on #104
Yes, that's exactly what I was trying to suggest above. Agreed!

[2018-04-18 17:33] yymao commented on #104
Great. If @danielsf also agrees with use, @dkorytov, can you implement this in #105?

And we'll also need to modify these two lines correspondingly: https://github.com/LSSTDESC/sims_GCRCatSimInterface/blob/master/python/desc/sims/GCRCatSimInterface/SedFitter.py#L35

[2018-04-18 17:52] evevkovacs commented on #104
https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/SCHEMA.md will also have to be updated once we have consensus.

[2018-04-18 17:54] danielsf commented on #104
This proposal sounds fine to me

[2018-04-18 18:25] dkorytov commented on #104
Okay, I'll put those changes in.

[2018-04-19 16:36] #104 closed

[2018-04-19 16:37] evevkovacs commented on #104
@yymao We should also update the schema.md document

[2018-05-24 16:55] yymao opened #108 "add option to retrieve shear values in different sign conventions"
The proposal is to add an option (something like `convention='treecorr'` or `convention='phosim'`) to the reader and the reader will return the shear (gamma) values using the specified convention.

(cc @rmjarvis @cwwalter @danielsf @jchiang87 @katrinheitmann)

[2018-05-24 17:44] rmjarvis commented on #108
Just copying over some of my thoughts on this from a Slack thread:

The "treecorr" convention defines g1,g2 relative to north being up, as seen from earth.  Which means RA increases to the left.  This is the convention used by: TreeCorr, GalSim, ngmix measurements, and all DES catalogs.  IMO (not surprisingly), this is the most sensible convention to use, and I'd favor this being the default value

[2018-05-24 17:51] yymao commented on #108
Question on implementation detail: do people prefer to have a different property (e.g. `shear_2_phosim`), or a keyword argument supplied at catalog load time that changes the definition of `shear_2`?

[2018-05-30 15:53] danielsf opened #110 "InstanceCatalog reader needs to be able to handle sprinkled objects"
The InstanceCatalog reader currently assumes that the galaxy catalog contains only galaxies and AGN.  The reader ignores AGN.  We need to

a) figure out how we want to handle AGN
b) add code to handle the fact that the sprinkler is going to be adding lensed AGN and SNe to the galaxy catalog

There is also the question of how we are going to deal with objects that are passed to PhoSim as fits image

[2018-05-30 18:55] jbkalmbach commented on #110
Yeah, we are making sure that the number of columns does not change.

I'm not sure if this is helpful, but I do have a way of reading and parsing the sprinkled instance catalogs in this method: https://github.com/LSSTDESC/Twinkles/blob/issue/467/ic_validation/python/desc/twinkles/validate_ic.py#L18 that I am using to develop the instance catalog validation tests.

[2018-05-30 20:06] yymao commented on #110
@jbkalmbach thanks for the script. Yes we can implement that in the GCR for the time being. But still I think it'll be great if we can make the underlying format easier to parse :)

[2018-05-30 20:10] jbkalmbach commented on #110
@danielsf might want to say more about this, but he is working on making a way to write out the sprinkled catalog pieces separately. However, this will still necessitate an answer to his first point about handling general AGN in the catalog.

[2018-06-01 15:35] danielsf commented on #108
I agree with Jim: have a separate column makes it less likely that we will accidentally use the wrong thing.  It's still going to happen, but it will happen less frequently.

[2018-06-01 23:44] yymao commented on #108
Now implemented in #111

[2018-06-04 16:36] danielsf opened #112 "add sign convention to shear parameters in schema"
The schema does not list the sign convention for `shear_1` and `shear_2`.  Once we sort out what the convention in protoDC2 is here

https://github.com/LSSTDESC/gcr-catalogs/pull/111

we should document it in the schema.

[2018-06-04 16:51] evevkovacs commented on #112
Sign conventions for protoDC2 were documented in the old google doc that described the schema.
It appears that section did not get moved to github. Here is the link to the google doc:[](https://docs.google.com/document/d/1rUsImkBkjjw82Xa_-3a8VMV6K9aYJ8mXioaRhz0JoqI/edit#)

[2018-06-04 16:57] danielsf commented on #112
That just links me to `SCHEMA.md` in `gcr-catalogs`, which says "(sign convention to be supplied)" under `shear_1` and `shear_2`.  I am interpreting that as "sign convention not yet determined".  Am I wrong?  Does it mean "providers of catalogs should make sure to tell us what their sign convention is somewhere in the catalog"?

[2018-06-04 17:01] evevkovacs commented on #112
@danielsf  Sorry, I should have been more clear. You have to scroll to the bottom of the google doc. Under "Discussion and Notes", you will find a section on shear sign conventions.

[2018-06-04 17:12] danielsf commented on #112
Thanks, Eve.  Sorry I didn't see that sooner.

[2018-06-05 02:00] yymao commented on #112
addressed in PR #111, commit b62b5e8

[2018-06-06 13:39] #108 closed

[2018-06-06 13:39] #112 closed

[2018-06-07 15:58] dkorytov opened #114 "ProtoDC2 GCR has 'Y' instead of 'y' in ugrizy filter names"
In the broad band filter 'y' is capitalized. The catalog doesn't have 'y' as a capital letter.

[2018-06-08 16:00] #114 closed

[2018-06-12 02:28] #93 closed

[2018-06-26 16:50] yymao commented on #110
fixed by #113

[2018-06-26 16:50] #110 closed

[2018-07-05 20:04] wmwv opened #128 "Metadata for GCRcatalogs: e.g., pixelScale"
@yymao   Where should I put extra metadata that isn't per-row?  I.e., pixelScale, median number of visits that went into a coadd?

[2018-07-05 20:13] yymao commented on #128
@wmwv just add them as properties of the instance (i.e., self). And you can also document them in the metadata section of `SCHEMA.md`.

[2018-07-05 20:16] wmwv commented on #128
This will be an optional attribute.  Will work once `DC2_Repo/scripts/merge_tract_cat.py` is updated to write this to the HDF5 group metadata.

[2018-07-06 01:26] yymao opened #130 "add (static) truth catalog reader"
Once the truth catalogs are close to ready, we need to implement the truth catalog reader. This issue is to make sure we don't forget about it.

[2018-07-06 14:17] yymao opened #131 "coadd reader: native quantities with `slot_PsfFlux` and `ext_shapeHSM` are not per band. Change to `base_PsfFlux` and explicitly use and document `base_SdssShape``?"
In [Lines 145-147 of the coadd reader](https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/dc2_coadd.py#L145), we have:
[code]

But looking at the native quantities, I only find:
[code]
and
[code]
So this is probably a typo?

[2018-07-06 14:19] yymao commented on #131
Also, I think the derived quantity name should be `psf_flux_{}_lsst` etc.

[2018-07-06 14:20] yymao commented on #131
Also need to update `SCHEMA.md` accordingly.

[2018-07-06 14:29] wmwv commented on #131
The derived quantity names should be `psFlux` and `psFluxErr`, according to the DPDD[*].  Given that we're expanding the filter names, that means we should have

`psFlux_{}_lsst`
`psFluxErr_{}_lsst`

presently we have

`psFlux_{}_lsst`
`psFlux_err_{}_lsst`

I think we can leave flag as
`psFlux_flag_{}_lsst`

but we should change to `psFluxErr_{}_lsst`

[*] The names in the DPDD are actually `psFlu

[2018-07-06 14:32] yymao commented on #131
Oh, ok, thanks! I wasn't aware that those names are from DPDD. Then I suggest that we label them in `SCHEMA.md` so that people can understand the different naming styles.

[2018-07-06 15:03] yymao opened #132 "drop `_lsst` in coadd reader; add `mag_<band>` to extragalactic catalog readers"
We have been using `mag_<band>_<filter>` in the extragalactic catalog readers as there are `mag_g_lsst` and `mag_g_sdss` etc. For DC2 catalogs, the filter postfix seems unnecessary, so we will drop it from the coadd reader. And for extragalactic catalog readers, `mag_<band>` will be an alias of `mag_<band>_lsst`.

We will modify the schema and the readers accordingly.

[2018-07-06 15:35] yymao commented on #130
We should first focus on getting the reader of the *static* truth catalog done.

We need to think about how to provide high-level access to the time-varying part of the truth catalog (probably should consult SN and SL WGs).

[2018-07-06 17:49] yymao opened #135 "add config for HSC coadd catalogs"
@EiffL is preparing the HSC coadd catalogs that can use the same coadd reader. @EiffL will add a config file once the HSC coadd catalogs are ready.

In the case that we need to modify the HSC coadd catalog reader slight, we can inherit the DC2 coadd reader.

[2018-07-06 18:21] wmwv commented on #131
The shape measurements we want to use, the HSM measurements, are only available in the merged detection reference catalog.  They are not currently re-computed per band in the forced photometry.  They should be in the future.

We do have base_sdssShape measurements per-band.  And these are what's being used for, e.g., `psf_fwhm_{}`.

[2018-07-06 19:35] wmwv commented on #131
Correct.

[2018-07-06 19:35] wmwv commented on #131
The title of this issues should be changed to:

[2018-07-06 20:15] EiffL commented on #135
on it

[2018-07-06 20:29] wmwv commented on #131
We did.  `Ixx`, `Iyy`, `Ixy` (no band) are the `ext_shapeHSM_HsmSourceMoments`.

[2018-07-06 20:29] wmwv commented on #131
I'm editing `dc2_coadd.py` now to make this more explicit and will update the `SCHEMA.md` appropriately.

[2018-07-06 20:39] EiffL commented on #135
@yymao @wmwv are  you offended if the hsc catalog exposes fields named with the  lsst extension, like `mag_i_lsst` ?

[2018-07-06 20:41] yymao commented on #135
@EiffL we are dropping `_lsst` postfix (see #132 #133). I think you can have `mag_i` and `mag_i_hsc` and let them point to the same quantity?

[2018-07-06 20:43] EiffL commented on #135
fantastic \o/ (I will just have mag_i then)

[2018-07-07 15:05] wmwv opened #136 "Should we have both 'good' and 'clean' in DC2 coadd reader?"
In the DC2 coadd reader, `good` is defined as both no flagged pixels and not deblended (`deblend_skipped`).  (code snippet below).

Should we instead define `good` as no flagged pixels, and a new column `clean` = `good`& `deblend_skipped`?

[code]

[2018-07-07 15:07] yymao commented on #136
Sounds good. Make it so :p

[2018-07-09 13:16] yymao commented on #128
Currently the reader reads in pixel scale information from the config file, which is fine to the time being. In the future we will want to add pixel scale information into the hdf5 file header and let the reader reads from the hdf5 header.

But we now don't require this to be done before the v0.8.0 milestone.

[2018-07-09 14:37] #131 closed

[2018-07-09 14:37] #132 closed

[2018-07-09 21:15] #135 closed

[2018-07-12 02:37] yymao opened #142 "Implement `_get_quantity_info_dict` in coadd reader?"
@wmwv @djperrefort, should we implement `_get_quantity_info_dict` ([see detail here](https://github.com/yymao/generic-catalog-reader/blob/master/GCR.py#L361)) in the coadd catalog? Once this function is implemented, users can use `get_quantity_info` to see information about a quantity.

Of course, implementing this may be a lot of work. What do you think?

(cc @EiffL)

[2018-07-12 02:50] EiffL opened #143 "Description of all the fields in DC2 coadd reader also accesible through GCR"
@wmwv @yymao @djperrefort  I realised that some of the fields computed at the `merge_tract_cat.py` level are not documented in `SCHEMA.md`, for  instance `mag_i` is a psf magnitude but is documented in `SCHEMA.md` because `mag_i` was already defined in the  extra catalog section.
Link to this issue is  #142 , so I'm thinking maybe we shouldn't store the schema in a markdown file, but in something

[2018-07-12 06:31] djperrefort commented on #142
@yymao Can you clarify what 'information about a quantity' means? I'm assuming this is more than just a description as a string?

[2018-07-12 13:17] wmwv commented on #142
@djperrefort Load an example catalog and look at the output of `get_quantity_info` and you will see what's needed.

[2018-07-12 13:29] wmwv commented on #143
I agree that the documentation for the schema should be more automatically generated directly from the code.  For the next few weeks let's focus on manually updating the `SCHEMA.md`, and the re-architect after the collaboration meeting.

[2018-07-13 01:48] wmwv commented on #136
@yymao I realize I meant the opposite of what I wrote in the code snippet above (and thus what got implemented).
I think we want objects that *were* `deblend_skipped` & `good` to be the additional definition of `clean`.
I.e., isolated objects that didn't have to be deblended are 'clean'.

[2018-07-13 02:14] yymao opened #145 "Make coadd reader work on table-format hdf5 file"
See the discussion in https://github.com/LSSTDESC/DC2_Repo/issues/190

[2018-07-13 02:34] EiffL commented on #136
From the HSC lensing catalog paper 1705.06745 :
[code]

[2018-07-13 12:51] wmwv commented on #136
@EiffL is of course right.  I was wrong.  I am now more enlightened and the code should remain the same.

In practice, I think there were 2 objects that were `good` but not `clean` in the DC2 Run 1.1p files.

[2018-07-13 12:51] #136 closed

[2018-07-15 03:07] yymao commented on #130
Implemented in #144

[2018-07-15 03:07] #130 closed

[2018-07-15 20:41] #44 closed

[2018-07-17 03:03] #145 closed

[2018-07-17 18:26] yymao opened #152 "truth catalog reader should not return `object` dtype"
The root of the issue @danielsf mentioned in https://github.com/LSSTDESC/DC2_Repo/issues/184#issuecomment-405671855 is that the truth catalog reader return numpy arrays that have the `object` dtype. This happens when any of the magnitudes are asked, because there are objects whose magnitudes are NULL.

For columns that contain real numbers, the dtype should be np.float. Missing values should be re

[2018-07-17 22:40] #152 closed

[2018-07-18 12:56] wmwv commented on #143
Yes.  That would be a reasonable goal and I don't think it's that hard.  It should only be a couple of hours of work.  @djperrefort Can you take a first try at this, then discuss in person with Yao, then meet with me to review the descriptions.

[2018-07-20 19:02] dkorytov opened #159 "Use native convergence quantity in CosmoDC2 Reader"
CosmoDC2 will have have correct convergence as a native quantity, so there's no need for a derived quantity.

[2018-07-20 23:59] #143 closed

[2018-07-25 18:30] djperrefort opened #161 "Descriptions in info dictionary do not correctly format '<band>'"
Quantity descriptions for band specific quantities are not correctly formatted. For example, running

    catalog = GCRCatalogs.load_catalog('dc2_coadd_run1.1p')
    catalog.get_quantity_info('Ixx_u')

Returns:

[code]

Here `<band>` should be replaced with something like `u band`.

[2018-07-27 17:56] #161 closed

[2018-07-27 19:48] djperrefort opened #163 "GCR API Notebook Feedback"
There has been some confusion by individuals working through the gcr-catalogs demo notebook on how to use the API. The notebook should be edited to improve clarity.

[2018-07-30 13:32] joezuntz opened #164 "size or __len__ method"
We need catalog objects to provide a `__len__` method or `size` attribute.

Many uses, especially for large catalos, need to allocate space for things before running on the whole catalog.  This could even just be a hard-coded value for different catalogs.

I wrote this one specifically for the protoDC2 test catalog - I assume it won't work for others:

[code]

[2018-07-30 18:29] yymao commented on #164
@joezuntz thanks for the suggestion. One question I have is how this method should behave for catalogs that have chunks (e.g., the coadd catalog). Should this method return the total number of entries (summing over all chunks) or should there be an option for this method to return an iterator that iterate over chunks and return the length for each chunk?

Also, for some catalogs, different columns

[2018-08-02 18:26] wmwv opened #168 "Could the object catalog reader generate and cache just one immutable NaN array?"
@yymao Could the object catalog reader be configured to generate just one immutable NaN array and cache that array to be returned anytime some one asked for a column that was not present but should be?

[2018-08-02 18:38] yymao commented on #168
I guess so, but it needs to be one per patch. I'll try implementing it.

[2018-08-02 18:55] wmwv opened #169 "Read pre-specified schema in 'dc2_coadd' if available."
If a schema has been provided for 'dc2_coadd' then read that schema and assume that this is the schema that all data would have.

1. [x] Decide on format for file:  JSON, YAML?
2. [x] Implement reading schema
3. [x] Implement fall back if quantity not present (I think this functionality already exists).

Schema file should presumably live in the same directory as the data files.

[2018-08-02 18:56] wmwv commented on #169
@yymao  What's your vote:
JSON
YAML?

[2018-08-02 19:04] yymao commented on #169
YAML.

See also [this yaml file](https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/catalog_configs/_dc2_object_meta.yaml) @djperrefort created for the quantity info. I assume we can use the same file for schema too.

[2018-08-02 19:05] yymao commented on #168
Under development in https://github.com/LSSTDESC/gcr-catalogs/tree/u/yymao/object-reader-cache-constant-array

[2018-08-02 19:10] wmwv commented on #169
Very much like that file, yes.

However, I'm planning on auto-generating this file at the time of the catalog file generation and putting the YAML file in the data directory.  This makes the data a little more self-documenting.

So `native` quantities are explicitly curated and get documented in `_dc2_object_meta.yaml`, while `non_native` quantities are described alongside the data files containin

[2018-08-02 19:12] wmwv commented on #169
I'm thinking of making the YAML have dicts to name each of the elements.
[code]

Will the gcr-catalog reader need datatype (float64, bool, etc.)?

[2018-08-02 19:17] yymao commented on #169
Agreed with making it a dictionary. That's [what GCR wants](https://github.com/yymao/generic-catalog-reader/blob/master/GCR.py#L392), anyway.

GCR doesn't need data type.

[2018-08-02 19:27] djperrefort commented on #169
I also +1 for the dictionary. I suggest including entries for each of the band specific values instead of using the `<band>` placeholder we are currently relying on. Otherwise, the entire dictionary will have to be iterated over when the reader is instantiated to format each item.

[2018-08-02 20:14] yymao commented on #164
@joezuntz just following up on this to see if you can comment on which behavior (always just return total length or return an iterator of lengths that correspond to data chunks) would work better for your use case?

[2018-08-02 20:59] joezuntz commented on #164
Sorry, forgot to get back to you.

Total length would be needed for my use case, though of course you could get that from just the sum of the other option.

[2018-08-02 22:43] yymao commented on #164
Thanks, @joezuntz. This is implemented GCR 0.8.0 (will be available once we update the share environment)

[2018-08-02 22:43] #164 closed

[2018-08-03 00:37] #168 closed

[2018-08-03 01:27] wmwv commented on #169
Reader implemented to generate column names from schema.  But it isn't really relied on yet.  It just loads the column names.

@yymao
1. Is it correct that as long as we need to read the HDF files to get the patches, there's no clear gain for already known the column names?
2. In other words, should this present issue essentially be resolved in this minor way and wait for a refactoring of the data

[2018-08-03 01:50] yymao commented on #169
@wmwv

1. I think there will still be some gain. Right now the reader [opens all tract files to get the patches (i.e. datasets)](https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/dc2_object.py#L359), but then it still need to [read in the column list from all dataset and get a union of them](https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/dc2_object.py#L370). I susp

[2018-08-08 20:03] AlexGKim opened #172 "Creating new quantities type"
I am having trouble vectorizing quantities retrieved when creating a derived quantity.  What contract does the object that holds the quantities fulfill in order to ensure correct ordering?

To give you an idea of my explorations, the following doesn't work because x is an ntuple.

`coadd_cat.add_derived_quantity(
    "numSN",
    lambda snrate_obs: [numpy.random.poisson(x) for x in snrate_obs],

[2018-08-08 20:25] yymao commented on #172
@AlexGKim I think the right way to define `numSN` is the following:

[code]

Note that `numpy.random.poisson` is already a callable and it accepts a numpy array. Hence there's no need to further unpack the input array.

I also recommend using `RandomState(123)` so that you can get consistent and reproducible result for different runs, unless that is not what you actually needed.

If this resolves

[2018-08-08 21:47] AlexGKim commented on #172
Thanks @yymao .  Unfortunately this didn't solve my problem and I am not sure how to proceed further.

I have defined a new quantity "snrate_obs", whose values are all finite and reasonable.

`for data in coadd_cat.get_quantities(quantities, filters = filts, return_iterator=True):
    print(numpy.all(numpy.isfinite(data['snrate_obs'])),data['snrate_obs'].min(),data['snrate_obs'].max())`

returns

[2018-08-08 22:14] yymao commented on #172
The derived quantities are evaluated before the filters are applied, and hence the infinite values in `snrate_obs` cause `poisson` to raise an error.

You can fix this by doing
[code]

On a site note, I've noticed that `snrate_obs` takes a while to generate, so you may not want to always calculate it on the fly.

[2018-08-09 00:01] AlexGKim commented on #172
Thanks @yymao .  This the code now runs.

Is there no way to evaluate quantities after filters?  Being able to calculate quantities on-the-fly when needed rather than be default would be great.

I will eventually be dealing with large numbers of galaxies so doing a two step process, i.e. retrieving all the galaxies, then doing the snrate_obs calculation on them, would be cumbersome in memory.

[2018-08-10 17:35] #65 closed

[2018-08-13 15:10] yymao commented on #169
Fixed by #171

[2018-08-13 15:10] #169 closed

[2018-08-23 18:05] yymao opened #175 "path in the focal plane config files no longer exists"
The config files for the focal planes ([`focal_plane_0_test`](https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/catalog_configs/focal_plane_0_test.yaml) and [`focal_plane_16_test`](https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/catalog_configs/focal_plane_16_test.yaml)) point to the following path
[code]
which no longer exist on NERSC. @fjaviersanchez can you fix t

[2018-08-30 17:04] fjaviersanchez opened #181 "Focal plane name parsing using 1.2i data"
I am going to open this issue and then an associated PR to generate a more robust way to parse the names of the sensor/raft combinations in 1.2i/p data (the imSim e-image files are named slightly different than the phosim files -- there's a missing `_f2_`). @yymao suggested adding a configurable field to represent the pattern to parse following the example [here](https://github.com/LSSTDESC/gcr-ca

[2018-08-30 22:26] #181 closed

[2018-09-06 13:40] yymao opened #184 "enforce md5sum check for cosmoDC2"
To ensure reproducibility, we will enforce md5sum check for the version of cosmoDC2 that will go into image simulation, similar to what we did for protoDC2.

This task includes adding md5 sum check in the cosmoDC2 reader and add the md5 sum values in the corresponding config file.

[2018-09-11 04:37] aphearin commented on #184
I definitely agree this is a good idea. Thanks for pushing forward on this, @evevkovacs and @yymao!

[2018-09-11 15:05] yymao commented on #159
@dkorytov can you fix this issue?

[2018-09-11 15:09] yymao opened #190 "fix cosmoDC2 native quantities: emissionLines and ContinuumLuminosity"
In the current cosmoDC2 reader, we manually remove native quantities `emissionLines/*` and `*ContinuumLuminosity` ([see here](https://github.com/LSSTDESC/gcr-catalogs/blob/eab3974/GCRCatalogs/cosmodc2.py#L424)).

@dkorytov @evevkovacs, has this been fixed in the catalog? If so, we should update the reader. If not, should we fix it before we release v1.0?

[2018-09-11 18:30] dkorytov commented on #159
@yymao, yup, I got it.

[2018-09-11 22:27] #159 closed

[2018-09-12 00:52] yymao commented on #190
@dkorytov do you think this will be fixed tonight? I think it'll be fine if not though, since this shouldn't affect image simulation, right?

[2018-09-12 01:01] yymao commented on #184
@evevkovacs kindly estimated the time to compute the md5 sum for the full cosmoDC2 catalog will be longer than 2 hours, which is not practical for either interactive use or instance catalog generation. The code to do md5 check is already in place,  but I don't think we will actually enforce md5 check for practical reasons. As a compromise, we have implemented a file size check. While the file size

[2018-09-12 01:01] #184 closed

[2018-09-12 03:06] dkorytov commented on #190
@yymao, I have a fix for the reader already. I want to check up on a couple related things for documentation purposes.

As far as I understand, the these quantities aren't used in the image simulation.

[2018-09-12 03:13] yymao commented on #190
Yep, that's fine. I think they are going ahead to use the current master for image simulation anyway, so you can fix this whenever you're free, no hurry.

[2018-09-12 04:00] dkorytov commented on #190
Okay

[2018-09-16 13:07] AlexGKim opened #198 "Galaxy radial velocity"
I would like to confirm that the quantity "redshift" is in the heliocentric frame.

[2018-09-16 13:09] yymao commented on #198
No, it's in galactocentric frame.

[2018-09-16 13:16] AlexGKim commented on #198
Thanks for the clarification Yao.

[2018-09-16 13:16] #198 closed

[2018-09-16 21:23] danielsf opened #199 "Odd error message when exiting interactive python session"
Sometimes, when I exit an interactive python session in which I have imported a catalog (specifically, `cosmoDC2_v1.0_image_addon_knots`), I get the following message upon running `exit()`

[code]

[2018-09-16 22:07] yymao commented on #199
@danielsf does this happen when you exit the session while something is still running on the catalog, or does it also happen when you exit while the session is idle?

[2018-09-17 03:54] danielsf commented on #199
Here you go
[code]

[2018-09-17 03:55] danielsf commented on #199
That setup command sets up a clone of gcr-catalogs, so it's possible that I'm out of date....

[2018-09-17 04:36] yymao commented on #199
@danielsf, thanks. Seems to be a Python/h5py issue but I haven't been able to track down the origin. I can reproduce the error with python but not with ipython.

[2018-10-02 18:36] wmwv opened #201 "Where does +27.0 come in _modelfit_Cmodel_flux?"
@yymao @djperrefort Where does the `27.0` come from in the definition of the magnitude for `{}_modelfit_Cmodel_flux`?

https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/dc2_object.py#L270

[code]

[2018-10-02 18:57] yymao commented on #201
If I recall correctly this comes from @EiffL

[2018-10-04 16:25] wmwv opened #202 "Create default values and dtypes in schema for DC2 Object table reader"
Currently NaN is returned for any missing column.
But that's not a valid value for int or bool columns so the dtype is wrong for these columns.

1. Go through and specify dtypes for all columns in the DC2 Object `schema.yaml`
2. Go through and identify default values for these columns.
3. Test that using this new reader generates the correct dtypes.

[2018-10-04 16:58] yymao commented on #202
(3) involves
- modify [`DC2ObjectCatalog._generate_columns_from_yaml`](https://github.com/LSSTDESC/gcr-catalogs/blob/v0.9.0/GCRCatalogs/dc2_object.py#L383) to ingest dtypes and default values, and store them in the instance
- modify [`ObjectTableWrapper._get_constant_array`](https://github.com/LSSTDESC/gcr-catalogs/blob/v0.9.0/GCRCatalogs/dc2_object.py#L146) to allow creation of constant arrays or

[2018-10-04 17:29] yymao opened #203 "Update reader to serve Run 1.2 truth catalogs"
We need to update the truth catalog reader for the Run 1.2 truth catalogs.

For static objects this is straightforward. We merely need to change the database path, and no additional work is needed.

For transients and variables, we want to provide both (1) a summary table that has object IDs, positions, and some summary statistics, and (2) a collection of light curves. The summary table can be ser

[2018-10-05 14:04] wmwv opened #204 "Provide named readers for trim and full DC2 catalogs"
We provide two key products with the Object table, the full set of columns, and a restricted set of columns that are only those necessary to re-construct the DPDD columns (the "trim" catalog).

While one can trivially use a filename_pattern in the config to use one of the other, I think it will be a better user experience and make some other code (specifically the `convert_merged_tract_to_parquet.

[2018-10-05 14:13] yymao commented on #204
My vote would be
- Do nothing for 1.1p
- Use Trim catalog default for 1.2p/i

[2018-10-05 14:26] wmwv opened #205 "Add flags for modelfit columns."
1. Add the flag values in the modelfit columns to the non-native quantities.
Do this by adding entires in the `_generate_modifiers` code.
2. Check to see if there are other flags that should be added.

[2018-10-05 14:28] wmwv opened #206 "Switch from `base_` to `slot_` where possible"
After discussion with the LSST DM DRP team, I have a clearer view that `slot_` is what's is supposed to always be there.  `base_` is *how* it was done.  We in general should use `slot_` columns when preparing the Object table.  There were some measurements missing in Run 1.1 which meant we didn't do this.
1. Take another look at the existing Run 1.1p translations to see what can be done with `slot

[2018-10-05 20:27] yymao commented on #203
PR opened in #207. See the PR for details about how light curves are served.

[2018-10-07 19:27] wmwv opened #208 "Add dtypes and default values to DC2 reader schema YAML file."
1. Add dtypes and default values to DC2 reader schema YAML file.
2. Update reader to return columns of the correct dtype for missing data.

[2018-10-09 13:09] wmwv commented on #201
https://github.com/lsst/meas_modelfit/blob/dc1917700912961b9f389642aaa9181f024da4a6/src/UnitSystem.cc#L65

sets the default calibration object to be 27.0 mag.

It seems like the above setting in meas_modelfit is just some default convention, but not necessarily correctly based on the actual calibrations in the calexp or coadd.

@rearmstr Does that default calibration get updated further in the pro

[2018-10-09 13:32] yymao commented on #201
Sounds like we should make this value an argument of [`DC2ObjectCatalog._generate_modifiers`](https://github.com/LSSTDESC/gcr-catalogs/blob/v0.9.0/GCRCatalogs/dc2_object.py#L209). For example:

[code]

[2018-10-09 13:53] wmwv commented on #201
No.  I'd rather keep this hard-coded, but documented, here.

The right way is to fix this in the merged_tract file generation in `DC2-production/scripts/merge_tract_cat.py`.  That's the part that interacts with the DM code and could do this look-up correctly and set the magnitudes correctly like it does for the regular psfFlux values.

https://github.com/LSSTDESC/DC2-production/issues/272

Will co

[2018-10-09 13:59] wmwv commented on #201
Yes, `pixel_scale`, `tract`, and `patch` should all be added to the HDF5 file metadata.

I'd like to get this done for Run 1.2p.

[2018-10-09 20:09] wmwv opened #210 "Create schema.yaml 'default' that causes an attribute lookup. (DC2 object reader)"
There are some descriptors of a given catalog that may be useful to express as columns.  E.g., tract and patch.  Potentially pixel_scale -- although for sanity that should always be fixed for a given run.
Consider creating a schema.yaml default value, 'attr', that does an attribute lookup to populate a column with metadata about the catalog stored as an attribute of the object table?

If we ever p

[2018-10-11 22:18] yymao commented on #208
Fixed by #209

[2018-10-11 22:18] #208 closed

[2018-10-12 13:44] wmwv commented on #202
Closed by #208 #209 #211.

[2018-10-12 13:44] #202 closed

[2018-10-16 14:11] yymao opened #212 "Add `mag_x` aliases in cosmoDC2 reader"
We should add `mag_x` as aliases for `mag_x_lsst`, as we describe in the schema. This addition is also required for make the cosmoDC2 reader compatible with the existing tutorial notebook.

Basically, we need to copy [these three lines (274-276) from the protoDC2 reader](https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/alphaq.py#L274) to the cosmoDC2 reader (around Line 424).

(cc

[2018-10-17 16:40] #203 closed

[2018-10-17 17:01] #212 closed

[2018-10-17 18:41] yymao commented on #205
Is this still an open issue or should we deal with this by just including native quantities when generate the Parquet etc files?

[2018-10-17 18:56] wmwv commented on #205
This is still open.  I would like the non-native quantity list in `dc2_object.py` to map to the DPDD columns.  Adding these flag columns will be a step in that direction.

But it's not a high priority, for the reasons you mention.

[2018-11-02 20:36] wmwv opened #219 "Create a reader for DC2 Run 1.2i Object Table"
Create a `dc2_coadd_run1.2i.yaml` based on `dc2_coadd_run1.1p.yaml`

Create a test-tract `dc2_coadd_run1.2i_tract4850.yaml`

Keep in mind the change in default suggested by #204

[2018-11-02 22:14] #201 closed

[2018-11-05 21:10] yymao commented on #219
closed by #220

[2018-11-05 21:10] #219 closed

[2018-11-05 21:16] yymao opened #223 "native quantities in run 1.2i object catalogs do not reflect true availability"
The catalog with selected columns (`'dc2_object_run1.2i`) and the all columns (`dc2_object_run1.2i_all_columns`) are currently sharing the same `schema.yaml` file (which defines the native quantities), and hence their native quantities are the same do not reflect true availability.

A related issue is that currently `schema.yaml` is outdated (does not yet reflect the change of `flux` --> `instFlux

[2018-11-05 21:16] yymao commented on #204
Closed by #220. However, see #223 for a related issue.

[2018-11-05 21:16] #204 closed

[2018-11-18 02:27] yymao opened #225 "outdated schema and mismatched native quantities in object catalog 1.2i"
The schema file for object catalog 1.2i is still outdated (i.e., native quantities listed in schema.yaml do not match the actual available native quantities).

(To test this bug, one can obtain the actual available native quantities by setting `{'schema_filename': 'X'}` when loading the catalog, and compare the list with the quantities listed in schema.yaml.)

Some of the mismatched native quantit

[2018-11-19 21:07] #225 closed

[2018-11-30 18:52] yymao opened #236 "missing halo mass definition in cosmoDC2 catalog/reader"
@marina-ricci pointed out that the `halo_mass_def` attribute in cosmoDC2 reader is missing.

Indeed, the `halo_mass_def` is not defined for `CosmoDC2ParentClass` in `cosmodc2.py`. Also, the value is not set in the catalog files or the config files.

@dkorytov what's the halo mass definition? I imagine it's a lot of trouble to put this into the data files, but we can put it in the config and modify

[2018-11-30 20:09] dkorytov commented on #236
It's FoF b=0.168. Hmm, I wasn't aware about the halo_mass_def. Should I just define it as a string?

[2018-11-30 20:12] yymao commented on #236
Yes. That works.

[2018-11-30 20:35] #236 closed

[2018-11-30 21:00] yymao commented on #190
@dkorytov just checking in to see if a fix for this issue is on the way. Thanks!

[2018-11-30 21:11] dkorytov commented on #190
I think this [emmision_line_contiuunm_fix](/LSSTDESC/gcr-catalogs/tree/u/dkorytov/emission_line_continuum_fix) branch fixes the issue. Let me double check though.

[2018-11-30 22:11] #190 closed

[2018-12-04 19:47] evevkovacs opened #242 "Fix typo in Readme in section for available catalogs"

[2018-12-04 19:48] evevkovacs commented on #242
Readme contains a typo listing 16 contiguous healpixels for cosmoDC2_v*_small catalogs. The number should be 17.

[2018-12-12 19:56] fjaviersanchez opened #243 "Reminder: Include flux density in microJy in the final catalogs"
@egawiser among others asked us to include flux densities in microJy in this issue: https://github.com/LSSTDESC/DC2-production/issues/43

I am just capturing this here as a reminder. I believe that it will be a matter of making visible the relevant columns in the main schema or include a quantity modifier.

[2019-01-12 13:31] wmwv opened #246 "Add catalog configs for Run 1.2i for reprocessing"
1. Rename prototype reprocessing as "_alpha"
2. Move new reprocessing as the default.
3. Check pixel scale.  Should it now be 0.2 arcsec/pix?

[2019-01-14 22:21] wmwv commented on #246
I defined these as 'object_catalog_alpha' and 'object_catalog_new'.
The previous catalog is defined as being in 'object_catalog'.

The file directory symlink 'object_catalog' currently points to 'object_catalog_alpha'.  Once this present branch is merged, tagged, and installed as the default on NERSC we can switch the symlink.

[2019-01-15 21:38] yymao commented on #246
Closed by #248

[2019-01-15 21:38] #246 closed

[2019-01-15 21:42] yymao commented on #243
@fjaviersanchez this is for the object catalogs, right?

[2019-01-15 22:39] fjaviersanchez commented on #243
yes!

[2019-01-16 22:05] #242 closed

[2019-01-25 14:37] yymao opened #254 "Include cModel flux as GCR quantities in DPDD-like object catalogs"
Right now we have the GCR quantity `psFlux_<band>` that points to the native quantity `<band>_base_PsfFlux_instFlux` (and similarly for flux error and flag). Should we have a corresponding set of GCR quantities for the cModel flux?

Thanks to @erykoff for noticing this.

[2019-01-25 14:39] erykoff commented on #254
If there's a quantity that we want the magnitudes for, we definitely want the fluxes as well.  One could argue that we only need the fluxes since you can always compute magnitudes from fluxes but not vice versa.

[2019-01-29 21:31] wmwv commented on #254
1. Yes.  The flux equivalents of cModel should be available.  The fact that they're not in the trim and Parquet files is due to an oversight on my part.  Details below.

2. Yes, the flux equivalents of magnitudes should always be available.  In fact, DPDD only specifies things in flux (nJy).  We provide magnitudes for convenience.

# Details
There was a request for cModel magnitudes.  So I added t

[2019-01-29 21:42] wmwv commented on #254
I will spell the column as `cModelFlux*` here.  This will be in the same units as `psFlux`, which is presently with reference to a zeropoint of 27 mag AB (i.e. a mag 27 AB object produces is a `psFlux` of 1).

When I shift to nJy for psFlux I also shift cModelFlux to nJy.
https://github.com/LSSTDESC/gcr-catalogs/issues/243
https://github.com/LSSTDESC/DC2-production/issues/43

[2019-01-29 21:44] wmwv commented on #243
This should be implemented as a quantity modifier for `psFlux*` and `cModelFlux*` (#254).  From https://github.com/LSSTDESC/DC2-production/issues/43

[2019-02-03 20:56] wmwv opened #256 "Add catalog configs for Run 1.2p reprocessing"
- [x] Rename previous reprocessing as `dc2_object_run1.2p_v3`
- [x] New reprocessing as `dc2_object_run1.2p_v4`
- [x] Move new reprocessing as the default `dc2_object_run1.2p`
- [x] Check pixel scale. Should it now be 0.2 arcsec/pix?

[2019-02-05 14:59] wmwv opened #258 "Switch dc2_object_run1.2i configs to uses alias to point to version"
1. Switch dc2_object_run1.2i configs to uses alias to point to version.

dc2_object_run1.2i.yaml
dc2_object_run1.2i_tract4850.yaml
dc2_object_run1.2i_all_columns.yaml

2. Switch versioned `dc2_object_run1.2i_{alpha,all_columns}` to `included_by_default: false`, or just remove the line that makes it true.

[2019-02-05 15:13] yymao commented on #256
fixed by #257

[2019-02-05 15:13] #256 closed

[2019-02-05 15:16] #258 closed

[2019-02-05 15:17] wmwv commented on #258
Won't fix.

Realized that there are just two versions right now and we don't have good names for them.

The `_alpha` versions already are not included by default.

[2019-02-12 01:08] wmwv opened #261 "Add MW extinction to `dc2_object_*` catalogs."
Add MW extinction to `dc2_object_*` catalogs.

1. [ ] Determine extinction model.
2. [ ] Double-check what was used in the image simulations.
3. [ ] Download a dust extinction map with a Python API.
4. [ ] Provide a function look-up within GCR.
5. [ ] Consider mixin/composite.
     - @yymao you had a plan for this.  I've forgotten it.
6. [ ] Consider performance of having the function.
7. [ ] Get

[2019-02-12 01:12] wmwv commented on #261
Dust Extinction package
Dust map packages I found after some brief search:

https://github.com/gregreen/dustmaps
https://github.com/karllark/dust_extinction
https://github.com/kbarbary/sfdmap
http://github.com/nicolaschotard/extinctions

[2019-02-12 01:26] rmandelb commented on #261
May require two external utilities:
1 = get E(B-V) from dust map using some utility (like one of the ones mentioned above), and
2 = get A_lambda given E(B-V) and R_v for a given dust law.  e.g., https://github.com/jmeyers314/ImageSimulationRecipes/blob/master/python/utensils/extinction.py has a few dust laws.   I thought CatSim uses the CCM dust law with R_v=3.1 for the Milky Way, but obviously we

[2019-02-12 01:33] wmwv commented on #261
@danielsf What's the dust map infrastructure within `lsst_sims`?

We should probably just use the same here, more for simplicity of software support than correctness (we don't know truth for the Universe).

[2019-02-12 01:42] danielsf commented on #261
The sims used the dust map from Schlegel, Finkbeiner, and Davis with the Cardelli, Clayton, and Mathis extinction law applied.

There is a (somewhat clunky) utility in lsst_sims to get E(B-V) from the SFD maps.  It works something like
[code]

[2019-02-12 02:05] wmwv commented on #261
What did you use to implement CCM?

[2019-02-12 03:30] yymao commented on #261
If the computation time is low, we can just add Ebv as quantity modifiers (i.e. modifying ra and dec). If the computation time is high, we can store them on disk and provide it as composite catalog.

[2019-02-15 21:16] wmwv opened #262 "Update `blendedness` in DC2 Object Catalogs Run 1.2p v4 and Run 1.2i"
Change `blendedness` to be `base_Blendedness_abs_flux` for Run 1.2p v4 and Run 1.2i
But future versions (w_2018_42 and beyond) will have this defined as `base_Blendedness_abs`

The blendedness in the DC2 Object Catalog Run 1.2p v4 and Run 1.2i have their blendedness variables suffixed with `_flux` instead of `_instFlux`.  This means there's an inconsistency between suffixes for the flux values and

[2019-02-15 22:01] yymao commented on #262
@wmwv thanks for opening this issue. We can deal with this like how we dealt with `_flux`/`_instFlux`, and that's probably the way to go for the short term. But I am wondering if there is a way to implement some kind of automatic check (at the reader level), instead of setting more version flags.

[2019-02-20 01:28] yymao commented on #254
Closed by #263

[2019-02-20 01:28] #254 closed

[2019-02-20 02:48] yymao opened #264 "Include photo-z add-on catalog(s)"
@sschmidt23 has provided some "placeholder" photo-z catalog(s) for Run 1.2i. We should include them in GCRCatalogs.

There are three methods:

1. Make a reader for the photo-z catalogs. Make sure the iterating chunks and row  orders are the same as the object catalog, and use the composite method to include them as part of the object catalog.

2. Modify the object catalog reader so that the photo-

[2019-02-21 14:15] yymao commented on #243
Closed by #265.

[2019-02-21 14:15] #243 closed

[2019-02-22 13:55] wmwv opened #267 "Should `base_dir` for composite catalogs be an array or dict?"
Should the `base_dir` attribute for the object returned for a composite catalogs be an array with an entry for each catalog combined, or perhaps even a dict?

Present the returned GCRCatalogs (inherited BaseGenericCatalog) object as the attribute `base_dir` set as the second of the composite catalogs instead of representing the `base_dir` from both.

[code]

produces

[code]

I think I would expec

[2019-02-23 03:04] #264 closed

[2019-02-23 21:44] wmwv commented on #262
I've managed to get myself all confused.  For now, the matching with `_flux` and `_instFlux` matches that of the true flux fields and everything is correct.

In the future, when `blendedness` should be matched to just `base_Blendedness_abs`, we'll have to revisit this.

[2019-02-23 21:44] #262 closed

[2019-02-23 21:47] wmwv commented on #205
Closed by #254.

[2019-02-23 21:47] #205 closed

[2019-02-26 23:47] wmwv opened #268 "Provide a known mapping between input visit and tract, patch"
@johannct already creates an sqlite file with this information to do the processing in the first place.  This is then transferred over to NERSC as part of the repo.

We can expose this as a table or query interface

[2019-02-26 23:48] wmwv commented on #268
@bechtol This is the easy way.  A full RA, Dec interface would take a little more work.

[2019-02-27 08:24] johannct commented on #268
let me know if the db should evolve to something usable by more people. I gave 0 thought to its content/schema/naming, and just hacked quickly what I needed.

[2019-02-27 14:50] wmwv commented on #268
Thanks.  It looks perfect and simple as it is.

My suspicious is that anything more sophisticated should come from DM Science Pipelines Gen 3 Butler.  Even if that ends up not providing the exact thing we need, I suspect it will be a much easier base to build on.

[2019-02-27 20:14] wmwv opened #269 "Create an emulated transient+variable catalog based on the truth catalog"
Create an emulated transient+variable catalog that
a) Includes errors
b) And thus it provides exactly the same API as the "real" simulated DC2 data will provide.

[2019-02-27 20:18] yymao commented on #269
cc @rbiswas4 @reneehlozek so that this thread is on their radar.

[2019-02-27 20:23] wmwv commented on #269
@yymao My plan is that this adds columns providing the values that will be in the full DIA catalogs.  Should I
1. Create a subclass of `DC2TruthCatalogLightCurveReader` that adds columns?
2. Create a new class `DC2TEmulatedCatalogLightCurveReader` that redoes everything in the truth catalog and does not include truth.
3. Create a composite catalog where the values in the emulated catalog are depen

[2019-02-27 20:24] yymao commented on #269
I am inclined to (2).

[2019-02-28 15:24] boutigny opened #271 "Make gcr-catalogs more easily installable outside NERSC"
Deploying `gcr_catalogs` outside NERSC is complicated and error prone because the location of the catalogs are hardwired in the configuration files. I would suggest to implement a mechanism to record  in a single place the path name of the  root directory where all the  the catalogs are stored.
For instance at IN2P3, the catalogs are all stored in the root directory: `/sps/lsst/data/desc/catalogs`

[2019-02-28 15:29] yymao commented on #271
Adding an installation option or a config with root directory is not difficult, but as @boutigny pointed out, the complication is that catalogs are located in several places at NERSC. (In fact, if all catalogs are under the same root directory, a simple "replace all" in the catalog yamls would do.)

So I think we need to involve @heather999 in this conversation.

[2019-02-28 15:39] boutigny commented on #271
I would really prefer to have the path name of the root directory stored in a config file rather than having to do a "replace all"

[2019-03-01 22:06] djperrefort opened #272 "galaxy_id incorrect for supernova in variable summary catalog"
The `galaxy_id` value in `dc2_truth_run1.2_variable_summary` is supposed to be a foriegn key for `dc2_truth_run1.2_static` stored as `object_id`. However, the `galaxy_id` and `object_id`  values don't seem to match between both catalogues for supernova. For example:

[code]

Talking this over with during the hack day, it seems that `object_id` is `galaxy_id` mod 1024:

[code]

[2019-03-06 02:21] wmwv opened #274 "Create a reader for Source Table"
Create a reader for Source Table in coordination with

https://github.com/LSSTDESC/DC2-production/issues/326

[2019-03-06 06:37] yymao commented on #274
Is the plan to duplicate the data and save to flat files (i.e., like what we did with the object catalog), or to interface GCRCatalogs with butler directly?

[2019-03-06 19:13] jiwoncpark commented on #274
Hi @wmwv! As we discussed on the Berkeley Hack Day, I'm happy to be the reviewer, but please let me know if I can be of earlier help as well.

[2019-03-11 16:40] danielsf commented on #272
This is a convention inherited from the LSST CatSim framework.  In order to guarantee that all astrophysical sources have a unique identifier, the final id assigned to each source is `local_id*1024+class_id` where `local_id` is the unique identifier in the sub-catalog (so, `galaxy_id` for galaxies) and `class_id` is some integer assigned to the class of objects (so: SNe have one value of `class_id

[2019-03-11 16:55] rbiswas4 commented on #272
@danielsf @yymao
so `galaxy_id` is the `local_id` for galaxies while the `object_id` is the corresponding unique identifier. While having `galaxy_id` might be helpful for provenance, I would have said that
[code]
should return the unique id corresponding to the `galaxy_id` rather than the local id (which is some intermediate step that we don't care about). This would mean that the main identifier

[2019-03-11 17:53] danielsf commented on #272
Sorry.  I misinterpreted the original bug report.

I believe that you will find if you additionally select on `sprinkled==0` that limiting `galaxy_id!=-1` means that you *only* get SNe that were injected by the sprinkler.  These SNe should have `galaxy_id` that do not correspond to anything in `protoDC2`, since they represent systems that were added on top of `protoDC2`.

I do not have a quick exp

[2019-03-11 18:18] rbiswas4 commented on #272
Sorry, I am lost. Is the original bug report you are referring  to the first post ?

I think there are different things here:
- [ ] `galaxy_id` vs `object_id`
- [ ] what does `galaxy_id` = -1 mean (I thought this was no galaxy in the simulated/SAM catalog. )
- [ ] If `galaxy_id` == -1, is `object_id` == -1 ? (hostless?)
- [ ] What does `sprinkled` mean and what values can it take? `sprinkled` = 1

[2019-03-11 18:28] danielsf commented on #272
Yes.  I am referring to Daniel's original post as "the original bug report".

To address your issues:

1) I do not think there is anything wrong with how we are handling `galaxy_id` vs. `object_id`.  Everything is self consistent, except...

2) `galaxy_id==-1` should mean that the SNe is hostless.  Unfortunately, in run 1.2, the hosted SNe catalogs did not contain a `galaxy_id` column, so *all* SN

[2019-03-11 19:25] rbiswas4 commented on #272
Thanks for the explanation!

Ok. So I understand that Daniel's result is because of the lack of `galaxy_id` in the truth catalog. But if there were those ids: Are you also saying that there would be a way of accessing consistent ids for galaxies without having to deal with bitshitfs or are you saying that it is necessary due to other reasons to keep that convention?

[2019-03-11 20:43] danielsf commented on #272
`galaxy_id` *should* be the ID of the source without any bitshifts applied.  It should map directly to the `galaxy_id` column in protoDC2.  Unfortunately, the supernovae had no `galaxy_id` column.

[2019-03-11 21:03] rbiswas4 commented on #272
Perfect ! As in there is a bug in the catalog (I would guess that is due to me), but we all agree on how the catalog reader should work, and it is already doing those things.  @djperrefort do you think this issue should be closed now?

[2019-03-11 22:23] danielsf commented on #272
This PR

https://github.com/LSSTDESC/gcr-catalogs/pull/276

will add redshift to the variable summary truth catalog.  That will obviate the need to cross-reference against the extra-galactic catalog.

I think we are beyond assigning responsibility for anything in DC2.  DC2 simply *is*.

[2019-03-11 22:32] djperrefort commented on #272
Having the redshifts added to the variable summary truth catalog would be a great and helpful addition. Thank you for adding it @danielsf. Considering the clarifications above, I think we can consider this issue addressed.

[2019-03-11 22:32] #272 closed

[2019-03-14 16:45] danielsf commented on #272
@djperrefort That pull request has been merged.  If you use `master` of `gcr-catalogs`, you should be able to get the `redshift` of SNe directly from the `dc2_truth_run1.2_variable_summary` catalog.

To use `master`, clone the `gcr-catalogs` repo and run
[code]

[2019-03-19 01:44] wmwv opened #279 "Create a reader for Forced Source Table"
Create a reader for the Forced Source Table of the LSST Data Products Definition Document ( ls.st/dpdd).  This is Table 4.3.3 of the 2018-02-19 version of the document.  Just 7 columns:

[code]

Note that if difference imaging has been performed, then this table provides both the regular image forced photometry and the difference-image forced photometry.  For now we will just consider the regular

[2019-04-19 22:53] fjaviersanchez opened #281 "bug in `SingleVisitCatalog`"
Right now if SingleVisitCatalog finds an object with negative flux, it throws an exception and breaks when trying to calculate the magnitude. This is the default behavior of the pipeline unless this line: `calib.setThrowOnNegativeFlux(False)` is added. I'm opening this issue and a related PR to prevent this from happening.

[2019-04-19 23:01] jchiang87 commented on #281
Just a heads up:  As of `w.2019.14`, the `Calib` object has been replaced by `PhotoCalib`, with interface and behavior changes related to magnitude calculations and negative fluxes.  See https://community.lsst.org/t/photocalib-has-replaced-calib-welcoming-our-nanojansky-overlords/3648

[2019-04-19 23:06] yymao commented on #281
Thanks @jchiang87. We probably should open another issue to remind ourselves to make the `Calib` -> `PhotoCalib` before `desc-stack` is going be updated to the newer build (cc @heather999).

[2019-04-19 23:15] heather999 commented on #281
Ok - let me know when it's ready.  Be aware that I'm out on vacation next week (Apr 22 - Apr26).

[2019-04-20 00:38] yymao commented on #281
Fixed by #282

[2019-04-20 00:38] #281 closed

[2019-04-20 00:41] yymao opened #283 "Replace `Calib` with `PhotoCalib` in `SingleVisitCatalog`"
As Jim mentioned in #281, we will need to replace `Calib` with `PhotoCalib` in `SingleVisitCatalog` because at some point as `Calib` will be deprecated (see https://community.lsst.org/t/photocalib-has-replaced-calib-welcoming-our-nanojansky-overlords/3648).

[2019-04-25 14:10] yymao opened #285 "halo mass unit is not consistent with schema (for cosmoDC2, and maybe protoDC2)"
The unit halo mass in cosmoDC2 is currently Msun/h, but it should be Msun according to the schema.

This can be easily fixed by updating the quantity modifier in the reader. @evevkovacs will help make sure that the unit is consistent in both cosmoDC2 and protoDC2 (or apply fixes if not).

Before this is fixed, users can edit the quantity modifier directly. This way, users will not need to update t

[2019-04-25 14:56] evevkovacs commented on #285
@yymao I think my preferred fix would be to correct the units for hostHaloMass (native quantity) to be M_sun/h and then modify the computation of 'haloMass' (schema quantity) to include the factor of h and make sure that the units are M_sun. Do you see any problem with handling it this way?

[2019-04-25 15:03] yymao commented on #285
@evevkovacs I think I agree with you if my interpretation of what you say is correct:
1. By "correct the units for `hostHaloMass`", you just mean correct the quantity information text, not the actual data units, right? I believe `hostHaloMass` is already in Msun/h
2. By "the computation of `halo_mass`" you mean the quantity modifier, right?

If yes to both, then, yes, I think this is how we should

[2019-04-25 15:12] evevkovacs commented on #285
@yymao Yes to both. Sorry if I was unclear.

[2019-05-01 00:24] yymao opened #287 "check unit of `position` in protoDC2, baseDC2, cosmoDC2"
The unit of position (x, y, z) in our schema is Mpc. The common unit used in cosmological simulations is Mpc/h. Currently the readers do not have any unit conversion, but unit of these quantities may have been converted during catalog production.

This issue is to make sure that we double check the unit is consistent in protoDC2, baseDC2, cosmoDC2.

[2019-05-01 00:25] yymao commented on #285
cosmoDC2 and baseDC2 have been fixed by #286 and #284. protoDC2 remains to be checked.

[2019-05-01 09:00] rbiswas4 opened #288 "What is the way of filtering quantities on a list?"
I would like to select objects from DC2 whose ids match those in a list. This is mostly to find a set of galaxies that I have listed before. So, in this case, the quantity would be `galaxy_id`
I normally do this kind of check on other systems by querying
`galaxy_id  in (0, 1, 2, 3, 4)` where the query would return objects that have `galaxy_id` matching one of the quantities in the sequence (0, 1,

[2019-05-01 12:20] yymao commented on #288
Yes, there is a different syntax. For string queries, `GCRCatalogs` only supports simple operations. For more complex operations, the filter should be specified by a tuple: `(function, column_name1, column_name2, ...)`, where `function` should take numpy array(s) as inputs, and return a boolean array as the mask. This allows users to write arbitrary queries.

Hence, in your case, the filter can be

[2019-05-03 20:13] wmwv opened #290 "Create DIASource table reader"
1. [x] Restructure `DC2SourceCatalog` and `DC2ForcedSourceCatalog` to at the minimum inherit from some slightly more generic class that will be Parquet-based.
2. [x] `DC2DiaSourceCatalog` to inherit from this new class
3. [x] Define quantity modifiers for `DC2DiaSourceCatalog` using list of translations from
https://github.com/lsst/ap_association/blob/master/python/lsst/ap/association/mapApData.py

[2019-05-03 22:35] rbiswas4 commented on #288
OK Thanks! This is great. Might be good as one of the things in the https://github.com/LSSTDESC/gcr-catalogs/blob/master/examples/GCRCatalogs%20Demo.ipynb . If you want you can assign me, (but I might not do it urgently)

[2019-05-03 23:52] yymao commented on #288
@rbiswas4 It would be great if you can help with updating the demo notebook to make it more user friendly. This particular usage is indeed mentioned in `In [24]` of that notebook but probably not in a very user friendly way.

[2019-05-09 13:28] wmwv opened #293 "Create DIAObject table reader"
Create a reader for DIAObject tables.
1. [x] Define quantity modifiers for DC2DiaObjectCatalog using list of translations from
https://github.com/lsst/ap_association/blob/master/python/lsst/ap/association/mapApData.py#L109
2. [x]  Define reader config for the Run1.2p test run. Perhaps dc2_dia_object_run1.2p_test
3. [x]  Test and verify reader.

[2019-05-09 14:21] yymao commented on #288
@rbiswas4 I think this question has been answered and will now close this issue. Feel free to reopen if you have remaining questions about the usage of `filters`

[2019-05-09 14:21] #288 closed

[2019-05-09 14:22] yymao commented on #274
Fixed by #277.

[2019-05-09 14:22] #274 closed

[2019-05-09 14:24] yymao commented on #279
Done by #289

[2019-05-09 14:24] #279 closed

[2019-05-09 14:26] yymao commented on #199
I am closing this since this issue is most likely due to upstream packages and I haven't heard further complaints from users.

[2019-05-09 14:26] #199 closed

[2019-05-09 23:23] #290 closed

[2019-05-10 01:45] yymao opened #295 "Add new catalogs in README"
@wmwv @EiffL can you put the newly added catalogs into README? Thanks!

[2019-05-10 02:11] EiffL commented on #295
By your command!
![image](https://user-images.githubusercontent.com/861591/57497824-1da84400-728e-11e9-98f2-55c47322e6cc.png)

[2019-05-10 02:16] yymao commented on #295
You're off hood now @EiffL :) thanks!

[2019-05-10 12:50] joezuntz opened #298 "yaml.load deprecation warning"
With the most recent versions of pyyaml, the plain `yaml.load()` is deprecated without additional options concerning safety, leading to this warning when importing the library:

[code]

The seven `yaml.load`s in gcr-catalogs should be replaced with either `yaml.safe_load`, or `yaml.full_load` if we expect configuration files to contain anything beyond the most basic structures (i.e. anything that

[2019-05-10 13:21] yymao commented on #298
Thanks for bringing this up @joezuntz. I am fixing this in #299.

[2019-05-10 13:31] #298 closed

[2019-05-10 15:33] #285 closed

[2019-05-10 15:33] #287 closed

[2019-05-13 18:50] #295 closed

[2019-05-14 13:40] wmwv opened #301 "Repoint Run 1.1, 1.2 base_dirs to `/global/projecta/projectdirs/lsst/production/`"
As part of standardizing directory names the data products are now in:
`/global/projecta/projectdirs/lsst/production/DC2_PhoSim/Run1.1p`
`/global/projecta/projectdirs/lsst/production/DC2_PhoSim/Run1.2p`
`/global/projecta/projectdirs/lsst/production/DC2_ImSim/Run1.2i`

Copy the data products if necessary to make sure the latest ones are in the correct directory.

[2019-05-14 18:50] wmwv commented on #301
I've inserted a `dpdd` directory to contain the catalogs.

[2019-05-15 18:18] wmwv opened #302 "Yaml safe_load won't read source catalog schema.yaml file."
The `safe_load` of the current DC2 source catalog Run 1.2i schema.yaml fails:
[code]
with
[code]

I just pick this as a specific example.  The same problem is shared with the other schema files.

My fault, I should have tested this before I approved #299

[2019-05-15 18:32] wmwv commented on #302
My current pessimistic reading is that we can't persist `numpy` objects in purely safe PyYaml load/dump.

[2019-05-15 18:34] yymao commented on #302
Do we really need to have numpy object in the schema file?

Also, we should modify the reader so that it would still work if the schema reading fails.

[2019-05-15 18:38] wmwv commented on #302
Hmmm... that is a good question.  Why are those coming out?  It was generated by `generate_schema_yaml()` automatic creation.  Perhaps there's something like something being overly smart and recognizing that a column only has, e.g., 0, and 1 and defining that as a different type than float.

[2019-05-15 18:41] yymao commented on #302
I should serialize dtype in generate_schema_yaml. Let me try to fix this in a PR.

[2019-05-15 18:48] wmwv commented on #302
Ah, I see my speculation above wasn't right.  PyYaml is just serializing the numpy datatypes (`f8`, `b1`, `i8`, `O8`, `f4`) and then using those defined aliases.
[code]

[2019-05-15 18:54] wmwv commented on #301
This is done, but blocked on #302.

[2019-05-17 14:48] wmwv commented on #302
@yymao Do we even need schema files for these readers?  Perhaps one resolution to this present issue is to remove the schema files and the parts of the reader that refer to them.

Every Parquet file within a DC2DMCatalog derived class has the same schema and the gcr class no longer has to fill in missing columns.

When I convert/re-generate the Object tables in future work, generating a consistent

[2019-05-17 14:54] yymao commented on #302
@wmwv I was thinking exactly the same thing when I was modifying the reader, but I wasn't sure if every Parquet file has the same schema (but now you've confirmed it).

[2019-05-17 17:53] wmwv commented on #302
I've approved the PR because it is the fastest way to fixing the problem and unblocking #301 and #296.

[2019-05-17 17:54] yymao commented on #302
OK, I am going to merge #303.

I propose that we remove these schema functionality when we make the transition to move the object catalogs to parquet (at which time we will also merge those readers).

[2019-05-17 17:55] #302 closed

[2019-05-17 17:56] wmwv opened #304 "Remove schema.yaml files and reading from DC2DMCatalog readers"
The Parquet files for the DMDC2Catalog readers to date provide Parquet files that all have the same schema.  So there's no need to specify a schema to provide default values.

It will simplify the code and simplify generation of new catalogs to remove the schema files and associated code.

When the Object tables are brought into the `DC2DMCatalog` framework, those Parquet files will need to be gen

[2019-05-17 17:57] wmwv commented on #302
#304 created

[2019-05-17 20:18] yymao opened #305 "Refactor `DC2ObjectCatalog` to make it a subclass of `DC2DMCatalog`"
As mentioned in https://github.com/LSSTDESC/DC2-production/issues/342, we should convert DC2 object catalogs (which use the `DC2ObjectCatalog` reader) into the same parquet format as the newer DC2 DPDD catalogs (which use readers that are subclasses of `DC2DMCatalog`).

In preparation for that, we should Refactor `DC2ObjectCatalog` to make it a subclass of `DC2DMCatalog`. Maybe by renaming `DC2Obj

[2019-05-22 13:43] heather999 commented on #301
Now that #302 is closed, is it possible to finish this issue off too?

[2019-05-22 14:46] yymao commented on #301
@wmwv have created a branch for this but he's traveling now. @heather999 how urgent is this? Should we pick up @wmwv's work or just wait a few more days?

[2019-05-22 15:11] heather999 commented on #301
A few days is fine - I just need to clean up `projecta` to make more room for Run2.1i data.  Completion of this issue will allow me to remove duplicates of some of the DM processing data.

[2019-05-28 19:05] wmwv commented on #301
I've just now fully closed out #302.  The code was fine, but I needed to create the schema files.

[2019-05-28 19:31] wmwv commented on #301
PR submitted.  #306

We should check the tutorials in `DC2-analysis` to see if there are any exposed paths.

[2019-05-28 19:48] wmwv commented on #301
Yes, there are some.  Issue created on `DC2-analysis`
https://github.com/LSSTDESC/DC2-analysis/issues/83

[2019-05-29 09:28] joezuntz opened #307 "Parallel Reading"
Many things that we do with GCR catalog are inherently parallel, and later stages are often run with MPI.  But the initial stages where we read the catalogs are currently only serial access.  Right now that's a bottleneck, since it requires a long job at NERSC which tends to queue for ages.

Enabling parallel access to the catalogs, even if it was not very flexible, would be extremely useful.

For

[2019-05-29 12:38] yymao commented on #307
@joezuntz thanks for the suggestion. I want to check if the returned information `start` and `end` in your code example are really needed. For most data formats that GCR is interfacing, getting the length (number of rows) still requires loading the whole data file. Hence, requiring `start` and `end` means each thread still needs to load all data files.

If `start` and `end`  are not needed, then i

[2019-05-29 13:24] joezuntz commented on #307
@yymao thanks.  In my case at least the `start` and `end` values are needed, because the model is load->process->parallel-write, and to know where to write the data in the third step we need the indices to put it in.

Although actually now I think about this more carefully the model I had imagined for doing this would not work, because we also want to filter the selection, and then the start and e

[2019-05-29 13:26] joezuntz commented on #307
Actually I just had a thought - one could synchronize the ranks after each reader had read their first chunk, then their second, then their third, etc.  That would be a nice solution that wouldn't require the start and end values (since we would be calculating them anyway).  It would be slightly slower than fully parallel, but still a great improvement.

My note about the function you suggested ab

[2019-05-29 13:28] joezuntz commented on #307
I could have a go at this if useful?

[2019-05-29 13:31] yymao commented on #307
Sure. I am trying to figure out if this is something that we can implement in the [base class](https://github.com/yymao/generic-catalog-reader/blob/master/GCR/base.py) or that we have to implement reader by reader.

Do you want to describe briefly your implementation plan before working on it?

[2019-05-29 13:44] joezuntz commented on #307
From what I can tell `_iter_native_dataset` needs to be modified to accept rank and size arguments, since that's where the loop is done over datasets and the loading is integrated into it.

The shortest way I can see that would avoid having to modify all the subclasses (including some which don't easily support it) would be:
- add a class attribute on the parent `supports_parallel_read=False`
- fo

[2019-05-29 13:54] yymao commented on #307
I am hesitant about overloading methods in the base class with different call signatures. But for now I don't have smarter ways if we want to implement this feature in the base class.

However, before doing so, I wonder if a totally different approach would work: If each thread will only use certain chunks of the catalog, wouldn't it be easier to just initialize the reader with those chunks?

For

[2019-05-29 13:56] joezuntz commented on #307
That's very clever, and much better, yes!

I might even just load the full catalog in once and then examine the list of files / pixels it contains and then split them up automatically.

I'll give this a go and report back.

[2019-05-30 15:16] #301 closed

[2019-05-30 20:39] yymao opened #313 "missing `catalog_configs/_dc2_forced_source_meta.yaml`"
This metadata yaml file `_dc2_forced_source_meta` is required by `DC2ForcedSourceCatalog` ([see here](https://github.com/LSSTDESC/gcr-catalogs/blob/29be16e/GCRCatalogs/dc2_forced_source.py#L34)).

Without the file, catalog `dc2_forced_source_run1.2p` cannot be loaded.

[2019-05-30 20:45] yymao opened #314 "Need to host DC1 catalog at NERSC and provide access via GCR?"
The [`dc1` catalog](https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/catalog_configs/dc1.yaml) connects to the fatboy server at UW. But I'm getting this error:

[code]

@danielsf do you know if this is an one-time issue or if the server no longer works? If the latter, should we update the connection info?

[2019-05-30 20:50] yymao opened #315 "protoDC2 redmapper add-on catalogs do not work"
The composite catalogs `proto-dc2_v4.3_addon_redmapper` and `proto-dc2_v3.0_addon_redmapper` no longer works due to some index matching issues. The underlying catalogs still work fine; just the matching fails.

Not sure what's the issue yet; need to figure out what's wrong.

[2019-05-30 22:13] danielsf commented on #314
heh....

Back in December, fatboy was observed mining bitcoin. UW IT decommissioned it permanently.  I didn't say anything because I didn't think there were any DESC users of fatboy left.

We have reconstituted the database on a Linux workhorse in the UW Astronomy department using Microsoft SQL Server for Linux.  We do not yet have a firm policy for off-campus access to this database, since the ho

[2019-05-30 22:16] katrinheitmann commented on #314
Pinging @fjaviersanchez in particular ...

[2019-05-30 22:42] yymao commented on #314
Thanks @danielsf for the explanation and @katrinheitmann for pinging Javi. So this question is now whether we need to continue to provide access to DC1 galaxy catalog (i.e., host on NERSC, access via GCR).

But this also means that current `dc1` catalog in `GCRCatalog` will not be supported anyway. I'll open a PR to remove it from GCRCatalog. And we can add back the new catalog on NERSC if people

[2019-05-31 01:35] fjaviersanchez commented on #314
Just to extend what I already commented in the #desc-dc2-users channel. I don't use GCR to access any of the DC1 data products (sorry). There are several DC1-related catalogs in the SSim project area including:
* The galaxy truth catalog: `/global/projecta/projectdirs/lsst/groups/SSim/DC1/GalaxyTruth.hdf`
* The star truth catalog: `/global/projecta/projectdirs/lsst/groups/SSim/DC1/StarTruth.hdf`
*

[2019-05-31 19:31] yymao commented on #315
OK, I figured out what's wrong. See #317 for explanation and fix.

[2019-05-31 20:59] yymao opened #319 "create an entry for 2.1i object catalog"
Cf. https://github.com/LSSTDESC/DC2-production/issues/347 -- once the files are copied to NERSC, we need to create an entry for the 2.1i object catalog, and check that the reader works as expect.

[2019-05-31 21:21] #315 closed

[2019-06-03 17:40] yymao commented on #314
Closing this since (1) there is no clear need of GCR access to DC1 catalog and (2) there's a copy of DC1 catalog on NERSC, so if a future need arises, we can write a new reader for it.

Thanks all.

[2019-06-03 17:40] #314 closed

[2019-06-03 17:41] yymao commented on #307
@joezuntz, I am closing this now since the issue by itself is resolved, but feel free to reopen it or open another one if you still encounter issues. I am also very interested in hearing back from you about your experience with parallel access!

[2019-06-03 17:41] #307 closed

[2019-06-06 19:17] #313 closed

[2019-06-11 13:45] wmwv opened #323 "DC2 Object Fix `blendedness` to be `base_Blendedness_abs` in v4 DM schema"
Redefine `blendedness` to be `base_Blendedness_abs` in the DC2 Object catalog for processing with DM Science Pipelines as of `w.2018.42`and later.

Thus this change is needed for the Run 2.1i processing.

[2019-06-11 18:55] #319 closed

[2019-06-11 20:57] yymao commented on #323
fixed by #324

[2019-06-11 20:57] #323 closed

[2019-06-13 15:46] heather999 opened #327 "afw interface change: Calib to PhotoCalib"
https://github.com/LSSTDESC/gcr-catalogs/blob/5203d46d6080f43d64657e0a47f499c77f71fb06/GCRCatalogs/butler_interface.py#L9
This line, likely needs to be:
```from lsst.afw.image import PhotoCalib```
This change occurred in April and is included in more recent releases of the DMstack, such as `w_2019_19` https://github.com/lsst/afw/commit/426a08a0d4216c860dd582c1ced7dc1dd3c47c9b

[2019-06-13 15:53] yymao commented on #327
Thanks, @heather999. I am closing this as it's duplicate of #283.

[2019-06-13 15:53] #327 closed

[2019-06-13 15:58] yymao commented on #283
Hi @fjaviersanchez, as @heather999 mentioned in #327, the `desc-stack` kernel is moving onto `w_2019_19` and `SingleVisitCatalog` will no longer work without the change `Calib` -> `PhotoCalib`.

Can you help update the reader? Thanks.

[2019-06-13 16:00] yymao commented on #283
Yes (I don't think there's any existing PRs on this anyway).

[2019-06-13 19:06] #283 closed

[2019-06-13 19:10] fjaviersanchez commented on #283
Closed by #328

[2019-06-14 20:19] sschmidt23 commented on #261
Has there been any decision on this?  Photo-z will need galaxies dereddened of MW dust in order to compute photo-z's.  In my opinion, it seems like a composite catalog with quantites dereddened would be a good idea, as almost everyone in DESC, I assume, will be using those rather than "raw" magnitudes, so this dereddening would be done on almost all queries for galaxy samples.  Plus, if left to th

[2019-06-17 16:17] danielsf commented on #261
Sorry I didn't see Michael's last question (from four months ago...)

We implemented CCM ourselves here

https://github.com/lsst/sims_photUtils/blob/master/python/lsst/sims/photUtils/Sed.py#L921

the `addDust` method in that same file actually applies the dust extinction to an SED.

[2019-06-25 19:05] wmwv opened #330 "Create Run 2.1i Object Table catalog config/reader for 'drb1 '"
DR1b has been kindly prepared by @johannct  and transferred to NERSC by @airnandez
https://github.com/LSSTDESC/ImageProcessingPipelines/issues/86#issuecomment-504722527

We can and should quickly make a catalog config for it and make it available through GCR.
/global/projecta/projectdirs/lsst/global/in2p3/Run2.1i/w_2019_19-v1/dpdd/calexp-v1:coadd-dr1b-v1/object_table_summary

[2019-06-26 23:43] rmandelb opened #331 "clarify flavor of photometry in object catalogs"
It would be beneficial to document in some easily-findable place (schema or possibly elsewhere?) what type of photometry is recorded in the object catalogs: forced photometry from the forced source table versus non-forced photometry from the meas table.

[2019-07-02 16:07] wmwv opened #334 "Tag v0.12.0 version"
Tag a v0.12.0 version of gcr-catalogs to provide the DC2 Run 2.1i Object Table ('dr1b') and DC2 Run 1.2p DIA test DIASource and DIAObject catalogs.  I think the only blocker is to
1. [ ] Merge #330

[2019-07-02 17:06] heather999 commented on #330
@wmwv  @yymao I'd like to continue using the paths we moved to in #301, so instead we would point to `/global/projecta/projectdirs/lsst/production/DC2_ImSim/Run2.1i/dpdd/calexp-v1:coadd-dr1b-v1`

[2019-07-02 17:07] wmwv commented on #330
Are you copying those over right now?

[2019-07-02 18:54] #330 closed

[2019-07-02 18:54] wmwv commented on #293
Closed by #329

[2019-07-02 18:54] #293 closed

[2019-07-02 19:02] wmwv commented on #330
Thanks, @heather999 , for catching the paths issue and copying the data into the right place.

[2019-07-02 19:41] #334 closed

[2019-07-06 12:50] wmwv opened #337 "Correct ambiguous "obshistid" error in truth variable catalog."
When querying the truth catalogs for `obshistid`, one gets an error for an ambiguous column reference because `obshistid` is shared between the "obs_meta" and "lightcurves" tables.

Fix this in `dc2_truth.py`

[2019-07-09 12:41] JulienPeloton commented on #271
How difficult/realistic would it be to do the same at NERSC (i.e. store all the catalogs under the same root)?

[2019-07-09 12:43] yymao commented on #271
That's a question I am hoping @heather999 can help answer!

[2019-07-09 14:38] heather999 commented on #271
Sorry, I see I missed this issue until now!
My understanding is that the catalogs at NERSC are located in a variety for directories under `projecta`, but we could set up a common `/global/projecta/projectdirs/lsst/production/catalogs` and create symlinks pointing to all of the catalogs.  If we can achieve agreement, we might be able to move all of the catalogs into that one directory - but that wi

[2019-07-09 14:43] boutigny commented on #271
They are in individual files in `GCRCatalogs/catalog_configs`

[2019-07-09 15:06] yymao commented on #271
If we use the symlink solution, would copying from symlink location to IN2P3 works, or does the copying still need to use the original paths?

[2019-07-09 15:23] boutigny commented on #271
Ideally we could have a different "root path" at NERSC (/global/projecta/projectdirs/lsst/production)  and at IN2P3 ( /sps/lsst/data/desc), this root path being stored in a configuration file specific to the site. Then we could have the same naming convention for the catalogs, possibly using a complex directory tree structure. These paths would be stored in `GCRCatalogs/catalog_configs` and would

[2019-07-09 15:37] yymao commented on #271
Right, but there could be non-catalog files under the same root directory, so how should we only select catalog files when copying?

[2019-07-09 15:59] boutigny commented on #271
IMHO there should be only catalog files under the root directory. So at NERSC the root directory would be: `/global/projecta/projectdirs/lsst/production/catalogs`

[2019-07-09 16:02] yymao commented on #271
Right, so my question is that, for NERSC, should we (a) move the actual catalog files to `/global/projecta/projectdirs/lsst/production/catalogs`, OR (b) make symlinks under `/global/projecta/projectdirs/lsst/production/catalogs` for all catalog files (and the actual files will be still sitting somewhere else.

I believe Heather is suggesting (b), and for (b) I wonder if the transfer to IN2P3 would

[2019-07-09 16:53] boutigny commented on #271
I just asked to @airnandez who confirms that his transfer tools is correctly following symlinks. So (b) is fine.

[2019-07-09 19:22] wmwv opened #339 "Test using Parquet file Run 2.1i DR1b Object Table files with is_dpdd=true"
Present a view to the Run 2.1i DR1b Object Table Parquet files
with a light wrapping, perhaps in a DMDC2 object, and `is_dpdd=true`.

The goal is to achieve significant performance benefits over the current HDF5 files.

[2019-07-09 19:26] wmwv commented on #163
@djperrefort Is there more that should be done on this issue, or should we close it?

[2019-07-09 19:27] #267 closed

[2019-07-09 20:21] #337 closed

[2019-07-10 01:05] djperrefort commented on #163
This issue was meant to remind us about an offline conversation we had.... but I don't think anyone remembers what that conversation was about. This issue can be closed.

[2019-07-10 01:05] #163 closed

[2019-07-10 13:14] wmwv opened #340 "Provide VisitInfo as a table"
Provide the VisitInfo information as a table accessible through GCR (and likely anything else, it will be a simple table).

[2019-07-11 07:35] #339 closed

[2019-07-12 06:06] heather999 commented on #271
I can definitely help with this - I just need a complete list of what catalogs I need to symlink under `/global/projecta/projectdirs/lsst/production/catalogs`.  My current idea is to go over all the contents of the yaml files, but if there a simpler way to get that list, I'd be happy to hear it!

[2019-07-12 07:30] yymao commented on #271
@heather999 maybe the first thing (that I should do) is to go through the configs and homogenize the keyword used for base directory. Many use `base_dir` but some use something different. Then we can do the symlink, and finally update the register and `setup.py`.

I'll open a few issues to capture these tasks.

[2019-07-12 07:34] yymao opened #345 "Homogenize the config keyword that indicates file location"
In an effort to make `gcr-catalogs` more easily installable outside NERSC (#271), we need to allow the root directory of file location to be configurable. The first step is to homogenize the config keyword that indicates file location.

Proposal:

Each catalog config that uses on-disk files must use `base_dir` to indicate the file location. Additional custom keywords can be used to indicate file n

[2019-07-12 07:45] yymao opened #346 "Make root directory (common prefix of all `base_dir`s) customizable during setup"
In an effort to make gcr-catalogs more easily installable outside NERSC (#271), we need to allow the root directory (the common prefix of all `base_dir`s, after #345 is done) to be configurable during package setup time.

There are a few ways to do this:

1. Require `base_dir` to always be a relative path. At run time, the reader prepends root directory path (which is set during package installati

[2019-07-12 15:27] wmwv opened #347 "Select different one-tract for DC2 as Tract 4850 is close enough to unsimulated DDF region"
I'd like to consider selecting a different tract than 4850 for our one-tract catalogs.

The DDF area of the WFD field is _not_ included in the current WFD Run 2.1i dr1b.

The 4850 tract is close enough to the DDF that the depth in the northwest corner is notably lower and thus it is not representative of the overall WFD region..

I suggest perhaps tract 3830.  It's relatively in the center of the

[2019-07-14 00:15] wmwv commented on #346
I suggest storing the ROOT_DIR for IN2P3/CC and Cori in the `gcr-catalogs`.

I think the number of installations we're trying to support is limited to a finite number, so we can make significant progress at minimal user effort.  It wouldn't have to be explicitly set during package installation.  It just would be read at package initialization with a machine name lookup.

If someone wanted to suppo

[2019-07-14 00:17] wmwv commented on #346
I have similar thoughts about redefining `REPOS` in
https://github.com/LSSTDESC/dc2-dm-repo

to be a dict with 'NERSC' and 'IN2P3/CC' as keys.

[2019-07-14 00:20] wmwv commented on #345
I agree with the spirit of this.  Which catalog configs currently don't obey this proposal?

But I would like this to be a requirement for the catalog config files themselves, but not for the general behavior of specifying custom things in `config_overwrite` arguments when loading the catalog.

[2019-07-14 00:34] wmwv commented on #340
Possibilities:
1. Use the VistInfo object.

PRO:  This is what we want.
CON:  I think this requires reading all of the VistInfo objects for all files and recording in a DB.

2. Use the registry created on ingest.  This contains:
[code]
PRO: It exists
CON: Doesn't record much of what we want.  Probably only `visit`, `filter`, `dateObs` mapping is useful.  (We can assume 30 second exposures so looki

[2019-07-14 00:35] wmwv commented on #340
The VisitInfo remains the thing to do.

But it's possible that 2+3 (registry+OpSim run) covers most use cases and will be very quick to set up.

[2019-07-14 00:35] wmwv commented on #340
It's also possible that the Image Simulation group already has this product trivially available.

[2019-07-16 09:56] joezuntz opened #348 "Speed of __len__ for DC2DMCatalog and composite metacal"
As noted here https://github.com/yymao/generic-catalog-reader/issues/26 reading the length of these catalogs is very slow.  Caching their lengths would make sense.

[2019-07-16 13:13] EiffL commented on #348
I would add, even just opening the object catalog is taking several minutes...

[2019-07-16 13:16] yymao commented on #348
@EiffL can you open another issue for the loading speed? It has a very different nature from this one. Thanks.

[2019-07-16 14:07] yymao commented on #305
There's actually no need --- if DC2 object catalogs are in parquet format, `DC2DMCatalog` would work out of the box. Closing this.

[2019-07-16 14:07] #305 closed

[2019-07-16 14:14] yymao opened #351 "Put Run2.1i object catalogs in parquet format with tracts being the chunks"
We need to put Run2.1i object catalogs (trimmed and "all columns") in parquet format with tracts being the chunks (but not patches):

There two main motivations:

1. With the size of Run2.1i, loading the Run2.1i object catalogs takes several minutes because the reader has to collect all the patches and tracts by opening all files.

2. Many add-on catalogs (photo-z, metacal) are generated in chunks

[2019-07-16 14:21] yymao opened #352 "add Run2.1i DR4 object catalog config"
This would be a simple addition of yaml file(s), but note that

- [x] We need to move the object catalog files to the final destination on NERSC (cc @heather999) [Done in #354]
~- [ ] Need to create trimmed versions, but also see #351 --- we should also move onto parquet format (cc @wmwv)~

[2019-07-16 20:33] #348 closed

[2019-07-17 08:02] joezuntz opened #355 "Memory leak in dc2_object_run2.1i_dr1a_with_metacal_griz"
I see a memory leak when iterating through the above catalog, which shows up for me in practice when using lots of columns.  The attached script (I had to change the ending to .txt to upload) demonstrates this using the psutil library, which reports memory usage.  The memory usage keeps increasing throughout the iteration.

The same thing also happens with dr1b in Francois' branch.

[gcr_mem_leak.

[2019-07-17 09:30] yymao commented on #355
**Solution for now**: turning off cache

[code]

I'll also submit a PR to make this the default behavior.

**Explanation**: This is not a memory leak. The HDF5 format used in the object catalog takes time to load so the reader stores cache, which increases load speed when the same file is accessed the second time, but also increases memory usage.

**Future plan**: We are moving away from this HDF5

[2019-07-17 10:11] #304 closed

[2019-07-17 13:12] yymao commented on #351
Tracking progress here:
- [ ] DR1a
- [x] DR1b
- [ ] DR4

[2019-07-17 13:32] #355 closed

[2019-07-17 14:06] wmwv opened #358 "Make it clear when diaObjects are from saturated detections."
The current diaObject is based on associations from diaSources
I think there's no check for saturation.

Either
1. Don't include saturated diaSrc in diaObject association
2. Make it obvious how to select a clean sample.

[2019-07-17 17:24] EiffL opened #361 "Bright star mask for DC2"
We would need as a data product, access to a bright star mask for DC2. Sounds like we would need to produce it from the truth catalog.

[2019-07-18 09:37] wmwv opened #362 "Check that Run 2.1i Object Table `cmodelFlux_flag` is correctly translated from DM original file."
@erykoff reports:

Within `gcr-catalogs` we should check to make sure that we are translating the flag values correctly.

If so, then this issue is arising at the DM Science Pipelines level and we should investigate there.

[2019-07-18 14:18] yymao commented on #362
In the reader `cModelFlux_flag_g` just simply maps to `g_modelfit_CModel_flag`, which is a column from DM pipeline I believe.

[2019-07-19 05:38] #347 closed

[2019-07-19 05:38] #351 closed

[2019-07-19 08:29] wmwv commented on #362
Agreed.  Thanks for checking.
Problem is at DM Science Pipelines level.
Closing.

[2019-07-19 08:30] #362 closed

[2019-07-19 08:32] wmwv commented on #352
Closed by #363

[2019-07-19 08:32] #352 closed

[2019-07-19 08:33] wmwv commented on #210
Propose this is is implemented as a composite catalog with a join against a VisitInfo or similar observation metadata table.

[2019-07-19 09:12] rbiswas4 opened #365 "The jupyter server link is outdated and needs updating"
The readme has a link to  https://jupyter-dev.nersc.gov/ rather than `jupyter.nersc.gov` for the nersc notebook server.

[2019-07-19 09:25] yymao commented on #365
fixed. thanks!

[2019-07-19 09:25] #365 closed

[2019-07-19 12:39] wmwv opened #366 "`DC2DiaSourceCatalog` doesn't inherit `self._visits` from `DC2DMVisitCatalog`"
`DC2DiaSourceCatalog` does not get `self._visits` defined.

`DC2DMVisitCatalog` defines `self._visits` in:
[code]

But this appears to not get executed in `DC2DMVisitCatalog`.

[2019-07-19 13:43] #366 closed

[2019-07-24 14:31] yymao opened #369 "Add magnitude calculation to quantity modifier of `DC2ObjectParquetCatalog`"
With the new script introduced in https://github.com/LSSTDESC/DC2-production/pull/358, we need to add magnitude calculation to the quantity modifiers in `DC2ObjectParquetCatalog` as the magnitudes would no long exist as native quantities.

[2019-07-25 16:01] wmwv commented on #369
@yymao I'd like to take this opportunity to just remove all of the `dm_schema_version` and `has_model_mag` awkwardness when writing the `_generate_modifiers` for `DC2ObjectParquetCatalog`.

Do this sound reasonable to you?

This requires that we agree that we will only directly generate these (non-DPDD) Parquet files for Run 2.1i and future.

Life is never easy, so maybe someday we have to put in

[2019-07-25 20:01] yymao commented on #369
That sounds fine. But then we need to regenerate the parquet files for DR1a, 1b, and 4.

[2019-08-07 17:44] evevkovacs opened #373 "Reader for AGN catalog"
This issue tracks progress on developing a reader for the agn catalog prepared by Scott Daniel. The agn catalog contains a compilation of the galaxies that contain an agn component, along with the original magnitudes from cosmoDC2 and the magnitudes of their agn components. The final goal is to have a reader for a composite catalog comprising cosmoDC2 and the agn catalog as an add-on so that the c

[2019-08-07 19:49] evevkovacs commented on #373
With help from @yymao, the stand-alone reader for the agn-mean-mags catalog provided by Scott Daniel is complete. It has been tested in this notebook. The current implementation sums the fluxes coming from the galactic and agn components and computes the resulting magnitude, which is delivered as a schema quantity mag_*_lsst. It has also been run in DESCQA. Test results: [Color distributions witho

[2019-08-08 22:53] evevkovacs commented on #373
For the composite catalog, @yymao suggested the following configuration file:
subclass_name: composite.CompositeReader
catalogs:
  - catalog_name: cosmoDC2_v1.1.4_image
    matching_method: galaxy_id
  - catalog_name: cosmoDC2_v1.1.4_agn_mean_mags
    matching_method: galaxy_id
only_use_master_attr: true

I tried this and it works, but for quantities that have the same name as those in cosmoDC2, t

[2019-08-13 18:56] evevkovacs commented on #373
@yymao  I'm now working on part 2 of this issue, which is to produce a "combined" catalog. I have tried subclassing the CompositeCatalog class to make a reader. My goal is to produce cosmoDC2 but with the appropriate rows overwritten so that 'mag_{}_lsst' from the original cosmoDC2 includes the AGN contributions and can be used in DESCQA tests without further ado. For a start, I just wanted to rea

[2019-08-14 15:47] yymao commented on #373
@evevkovacs The code snippet that I provided earlier was for _using_ the reader, not for developing the reader. If you want to create a new reader to add additional quantity modifiers on composition catalogs, here's how you do it:

[code]

I haven't got a chance to actually test the code so I can't guarantee there's no bug. Let me know if you have any questions.

[2019-08-22 23:51] evevkovacs commented on #373
Thanks, yes I used the wrong subclass. So now I have code for the combined catalog (in /global/u1/k/kovacs/gcr-catalogs_agncomp/GCRCatalogs/agncombined.py), and am trying to overwrite the quantity names (mag_{}_lsst and mag_{}_noagn_lsst) which are also used for the composite catalog. In the code snippet above, you are defining a new quantity name, and that works. But I want to keep all the compos

[2019-08-26 00:08] evevkovacs commented on #373
@yymao Added note: the above error only happens if I try to use the quantity (schema) name mag_{}_lsst. If I define a new name eg mag_{}_withagn_lsst, then the code runs just fine.

[2019-08-29 12:20] yymao commented on #373
@evevkovacs --- the issue is actually not in the code you quoted above. I went looking at your code on NERSC, and see that the function `get_composite_mag` is returning `None` --- this is what is causing the issue:

[code]

In addition to the wrong return, this function seems overly complicated. It can be written as the following:

[code]

This should fix the issue.

BTW, if you can push your bran

[2019-08-30 22:56] evevkovacs commented on #373
Ack! I was cutting and pasting and accidentally wiped out the return argument. My apologies for taking your time with such a silly error. I'll fix it and submit a PR.

[2019-08-30 23:55] evevkovacs commented on #373
Thanks, I have updated the code and tested it in DESCQA. I submitted PR #377. I will close this issue.

[2019-08-30 23:55] #373 closed

[2019-09-06 14:29] wmwv commented on #369
Updated `DC2ObjectParquetCatalog` now reads and calculations magnitudes correctly for latest set of object catalog generated for Run 2.1.1i.

I'm now adding '{band}_FLUXMAG0' columns to the previous dr1a, dr1b, and dr4b objects in my SCRATCH.  I will verify and then copy over new files, putting previous files in an attic folder to delete in a few weeks.

The current processing references things to

[2019-09-10 13:37] wmwv commented on #369
I've generated the new Parquet files for DR1a, DR1b, DR4 with the FLUXMAG0 column and tested them.  I've moved the previous versions to directories called:
`object_table_parquet_no_fluxmag0_delme_on_20191101`
and these new versions to the existing name of:
`object_table_parquet`

There is thus no change to the `catalog_configs` for these.

[2019-09-10 15:14] heather999 commented on #369
Is this all in the `/global/projecta/projectdirs/lsst/production/DC2_ImSim/Run2.1i/dpdd` area at NERSC?

[2019-09-10 15:20] wmwv commented on #369
Yes.

[2019-09-10 18:50] #369 closed

[2019-09-18 11:52] Manal-Yassine opened #380 "Calibration and ZP used in GCR"
Hi, Using the calibration (with getPhotoCalib) in the r band to get the magnitude of a src in the difference image (with butler), I found the same results of GCR DM measurement presented in the dc2_dia_object_run1.2p_test (following MWV notebook). Howerver, if I use the calibration for other filters, I found that my result is delayed wrt GCR DM measurement. So it seems that GCR catalog does not ta

[2019-09-19 15:46] wmwv opened #383 "Generalize bands from dc2_object.py"
Right now the logic in dc2_object.py assumes that bands are

#381 fixed this for the DC2ObjectParquet files.

We can fix for `DC2ObjectCatalog` as well.

Replace the two lines

[code]

With something that allows for multicharacter filter names.  I don't have an immediate suggestions that I'm sure can't match other things.

[2019-09-19 16:12] wmwv commented on #380
@Manal-Yassine
Thanks for filing an issue to track this.  There's clearly something wrong at any of the `dia_pipe`, the `DC2-production/scripts/merge_source_cat.py`, or `gcr-catalog` stages.
My apologies that I wasn't able to attend the telecon.

Do you have a specific suggestion for what is wrong that should be fixed?

I read through the slides and I see this in the conclusions, but I didn't foll

[2019-09-19 16:13] wmwv commented on #380
For some technical details, the GCR result is based on the calibration using the `fluxmag0` from `calib.getFluxMag0()`.

[2019-09-22 11:55] Manal-Yassine commented on #380
Hi @wmwv , I guess in gcr-catalog, but I did not go deeply into the details of the code. I maybe not help to precise which script of the code should be modified but I can describe what I did to display DM measurements using Calib.
I tried first of all to retrieve the results of GCR using diaSrc = dc2_dia_source_run1.2p_test.
For a diasrc associated with diaobj: "diaObject_diaSrc" I found its image

[2019-09-24 17:26] EiffL opened #389 "Parquet DM Object catalog reader is missing some fields"
@joezuntz pointed out that the dm object reader for the parquet files is missing the `snr_` fields, and maybe other ones as well. This is easily fixed in a couple of lines, but I wanted to raise that issue to highlight that we don't have checks that the catalogs do conform to the official schema.

[2019-10-09 22:12] yymao opened #394 "add how to use `config_overwrite` in README"
add how to use the `config_overwrite` option in README so that people who need cutting-edge catalogs can use it.

[2019-10-10 15:12] wmwv opened #397 "Fix units for I[xx,yy,xy] and friends in Object Table"
The second moments should be in arcseconds^2.  They're currently in pixels.

Multiple by pixel_scale^2 to correct.

[2019-10-10 16:48] rmjarvis commented on #397
I'm not sure how much it makes sense to just multiply these by pixel_scale**2.  These are fundamentally image quantities, not sky quantities.  I.e. x is in the pixel x direction.  Not, say, the direction along lines of dec or some other sky-related quantity.

If you wanted to convert to sky coordinates, the right thing to do is really

[ Iuu Iuv ] = [ du/dx  du/dy ]  [ Ixx Ixy ]  [ du/dx  du/dy ]^

[2019-10-10 17:09] wmwv commented on #397
Yeah, those are good points.  I agree that it's not clear what this should be.  It is presently a quantity in the DPDD that's defined to be in arcseconds.  I filed the following Project JIRA issue a while back about these issues.  There hasn't been a clear resolution.

https://jira.lsstcorp.org/browse/DM-19519

[2019-10-10 17:09] wmwv commented on #397
@rmjarvis Is one interpretation of your current recommendation as perhaps _removing_ I{xx,yy,xy} and replacing with a I{xx,yy,xy}_pixels set of column names?

[2019-10-10 17:13] rmjarvis commented on #397
That would be fine I think.  Explicit is better than implicit.  :)

It's not a crazy thing to want T_arcsec = (Ixx_pixels + Iyy_pixels) * pixel_scale**2 though.  So I might recommend adding that while you're at it.

[2019-10-10 19:00] rmandelb commented on #397
Speaking as somebody who regularly works with both the Ixx (etc.) quantities, and with PSF FWHM, I can confirm that Mike's logic is what leads me to expect Ixx (etc.) will be in pixels.  (I would find having them in arcsec confusing/surprising, and would assume you had done the proper calculation with the Jacobian that Mike mentioned.)

In contrast I'm fine with PSF FWHM in arcsec.

I'm also happy

[2019-10-15 11:32] joezuntz opened #398 "Composite Catalog return_iterator"
It looks like when you do `get_quantities` with `return_iterator=True` on a composite catalog then GCR loads all the columns for one catalog into memory and then only really iterates on the second one.   I'm not sure if this is generally true or just for the DC2 catalogs I'm using (Parquet versions, joining the metacal and object ones).

This is okay for small catalogs but for large ones will star

[2019-10-15 16:48] plaszczy opened #399 "size is missing on cosmoDC2_v1.1.4_image"
size_true exists but not size

[2019-10-15 17:00] yymao commented on #399
I think ww should add some quantity modifiers for lensed sizes, @evevkovacs?

[2019-10-15 18:16] evevkovacs commented on #399
Yes, it was assumed that users could compute this for themselves, but we can add it as a derived quantity.

[2019-10-16 09:19] plaszczy commented on #399
rmy point is that the schema on https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/SCHEMA.md should be corrected (there are probably other missing too)

[2019-10-16 11:36] yymao commented on #399
@plaszczy Yes, the schema file specifies the definition *if* the column exists. The schema file does not represent what quantities are available (see also https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/SCHEMA.md#L17)

[2019-10-16 13:32] yymao commented on #398
What you observed is indeed the current implementation.

The composite code does have a much more efficient mode and allows the iterator to iterate on all catalogs, but it requires that the add-on catalogs have the same row order and chunks as the base catalog.

What we can but haven't implemented is to still use iterator on add-on when the add-on catalogs do not have the same row order but do hav

[2019-10-16 13:35] joezuntz commented on #398
Right - unfortunately in my current use case (metacal + object catalogs) they don't have the same rows, I think because some tracts failed to process in metacal.

I can see it's definitely a fiddly problem, and it's not quite our limiting factor when processing 300 deg^2, but in future it might well be, so I think worth keeping alternative solutions in mind (e.g. loading the matching column from t

[2019-10-16 13:50] plaszczy commented on #399
@yymao that's a pity, scrolling through a web page to find the exact name of a quantity is much more convenient than running some python code. Would there be a way to indicate on the page that the quantity does not exist yet?

[2019-10-17 08:04] plaszczy commented on #399
OK then some warning should be added to the "schema" page  with a direct link to one of your nb which describes how to get the actual list of available quantities. This would avoid misunderstandings and loss of time.

[2019-10-17 12:54] yymao commented on #399
@plaszczy  there is a warning in the current schema file as I pointed out earlier, and it also says how to get the actual list of available quantities (see  https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/SCHEMA.md#L17)

If you have further suggestions on this warning message, it would be great if you can submit a pull request.

[2019-10-17 15:59] plaszczy commented on #399
I guess you are referring to this part:

"Not all quantities listed below are available in all catalogs. Use list_all_quantities() to find available quantities."

you could simply move it as first item (it is more important than naming cnventions) and add a link to a notebook (for "list_all_quanties"). I don't think it deserves a PR, so if you feel it is unnecessary please close the issue.

[2019-10-17 17:17] evevkovacs commented on #399
@plaszczy @yymao  I am happy to add a derived quantity for size to the cosmoDC2 reader if you think it would be useful, but there is a caveat. Estimating the size of a composite object (ie disk + bulge) is actually complicated eg. size_true is the luminosity weighted average of the disk and bulge sizes. An estimate for the lensed size can be obtained by computing size_true*sqrt(magnification) but

[2019-10-18 09:20] plaszczy commented on #399
@evevkovacs that's ok if size is to be derived by the user, I do not need it.
@yymao My only (obvious)  point is that it took me some time to realize this page is not a list of what is available (yes people do not read always everything) and it could be beneficial to users having this important aspect highlighted. I am suggesting this for others (non-experts) and it is certainly not my role to do

[2019-10-18 09:20] #399 closed

[2019-10-31 16:29] joezuntz commented on #398
I've hit another issue here that may be related - when you use return_iterator on a CompositeCatalog it doesn't return a masked array, just a vanilla one.

(There seems to be one exception to this - it returns a masked array for a chunk if the *entire* chunk is masked)

I assume the mask=True whenever a match is not found between the catalogs - is that right?

If so the iterator version returning

[2019-10-31 17:14] joezuntz commented on #398
Okay, I'll open a new issue with this in.
The row ordering seems to be intrinsic to GCR, and I've made a start doing exactly what you suggest with regards to doing the looping manually.

[2019-10-31 17:16] joezuntz opened #400 "When return_iterator=True on CompositeCatalog.get_quantities does not (usually) mask its output"
When return_iterator=False then CompositeCatalog.get_quantities returns a masked array, indicating whether it found a match.  But when return_iterator=True it returns a vanilla array unless the entire chunk is masked.

[2019-10-31 20:29] sschmidt23 commented on #400
I've seen similar behavior to this that I am trying to figure out for a composite catalog that I created.  However, I was playing with the cosmoDC2_v1.1.4_small_combined_agn catalog as an example, and I do not see a problem with that catalog (i.e. for the combined AGN catalog with return_iterator=True you *do* get the expected masked arrays and everything works as expected).  I notice for the comb

[2019-11-05 12:22] johannct opened #401 "Catalog access new generation"
While this possible, the implementation would look quite ugly unless we go change the underlying composite catalog code. But before we further expand GCR's functionality, we should really ask if we should instead explore using database instead.

_Originally posted by @yymao in https://github.com/LSSTDESC/gcr-catalogs/pull/393#issuecomment-539975714_

I would like to use this issue to jump start a

[2019-11-08 14:36] johannct commented on #401
@yymao's prioritization plan : https://docs.google.com/document/d/1l0gIO4YKE6uouiylX_nLa-a0hwGUTggTOwEON1IqEb8/edit?usp=sharing
As of yesterday's meeting we should use the same doc to ping the users for pluses and minuses of the current GCR implementation, and features request (possibly a list of open github issues)

[2019-11-12 17:02] wmwv opened #403 "Create data product of key information from each calexp"
Create table of metadata from calexp (PVI) processing

Depth,
Seeing
exptime.
Number of objects detected
rotation angle

a bunch of other useful stuff that I'm forgetting.  Please add such things in comments below.

[2019-12-03 16:16] yymao opened #405 "Removed config files are not actually removed by pip install"
We use `package_data` to install catalog config files. However, it appears that config files that have been previously installed and later removed in this repo would not actually be removed by pip install. This results in obsolete/wrong config files remaining in the shared environment and may cause confusion.

Need to find a way to fix this. I wonder if first run `pip uninstall` would help. If any

[2019-12-03 16:18] yymao opened #406 "Add back `dc2_object_run2.1i_dr1b_all_columns_with_photoz` and fix cache issue"
The config `dc2_object_run2.1i_dr1b_all_columns_with_photoz` has been removed but due to #405 it was left in the shared environment and have been picked up by users. The removed config did not have the cache option set correctly.

We need to add this config back and fix the cache issue in the config.

(cc @zdu863)

[2019-12-04 21:12] yymao commented on #406
Actually, this catalog does exist but was renamed to `dc2_object_run2.1i_dr1_with_photoz`, with correct cache setting.

@zdu863, can you update your code to use `dc2_object_run2.1i_dr1_with_photoz` instead?

[2019-12-04 21:12] #406 closed

[2019-12-04 21:15] yymao commented on #405
It seems that this is actually an issue with pip (see https://github.com/pypa/pip/issues/6865)

[2019-12-04 21:17] yymao commented on #405
@heather999 before pip fixes this issue, we would need to clean up the config files on our own. I'm closing this issue for now since it's due to a pip issue.

[2019-12-04 21:17] #405 closed

[2019-12-04 21:23] yymao commented on #400
I think that's the intended behavior. It returns a masked array only if needed (i.e., if mask is needed within the return chunk). See https://github.com/yymao/generic-catalog-reader/blob/master/GCR/composite.py#L233

Hence, when using return_iterator=True, it sometimes will return vanilla array if nothing needs to be masked. The idea was that the user will check using `np.ma.is_masked`.

This is p

[2019-12-05 01:59] zdu863 commented on #406
@yymao Yes, I'll do that, thanks.

[2019-12-05 08:23] johannct commented on #400
Perhaps make the behavior clearer in the docstring?

[2019-12-10 10:30] joezuntz commented on #400
Either of these would make sense:
- always return a masked array
- only return the matched objects, with no mask

[2019-12-10 11:35] johannct commented on #400
I propose to take over and learn a bit of GCR in the process. @joezuntz hopefully you'll help me soprt it out :)

[2019-12-10 13:40] yymao commented on #400
Composite catalog was designed to be a left join, but I can imagine adding an option to switch to inner join.

This can be easily done by removing this line https://github.com/yymao/generic-catalog-reader/blob/master/GCR/composite.py#L233 (and unindent the line below by 4 spaces).

[2019-12-10 14:00] yymao commented on #400
I opened a PR in https://github.com/yymao/generic-catalog-reader/pull/29

But I realized that this would only change the behavior of composite catalogs that use IDs to match the entries. For composite catalogs that matches the format (i.e., add-on has exactly the same row order), there's not need to mask any entry and hence still returns unmasked entries.

[2019-12-10 16:25] evevkovacs commented on #400
@yymao @joezuntz If I understand correctly, I think this would break existing uses of the composite reader? I have several applications already that match by ID, and there are others in the works for DC2 validation that use the masking feature. I hope it will be possible to meet new needs whilst still maintaining backwards compatibility. Sorry I haven't followed in detail, but could you possibly s

[2019-12-17 20:47] adam-broussard opened #409 "Native Quantities Do Not Work With GCRQuery"
I'm getting a SyntaxError when running the following code (for example):

[code]

Apparently the fact that the emission line has a colon in the reference causes an error when evaluating the text expression in `necompiler.py` line 284.

[2019-12-17 20:57] yymao commented on #409
Indeed. You can however use the `(func, *args)` construction:

[code]

[2019-12-17 21:00] yymao commented on #409
Also, see https://github.com/yymao/easyquery#creating-query-objects for more usages.

[2019-12-18 15:30] adam-broussard commented on #409
Ah, okay, I apologize.  Thank you for the help!

[2019-12-18 15:30] #409 closed

[2020-01-10 23:10] sschmidt23 opened #410 "get_quantity_info() does not return information for composite catalogs"
I was attempting to add some documentation to the photo-z columns for the add-on catalogs via adding some entries to the _subclass_init to be returned by get_quantity_info().  This works fine when the standalone catalog is loaded, however, for composite catalogs it looks like get_quantity_info() only shows entries for the first of two composites.  The photo-z catalogs will be mostly used as compos

[2020-01-15 16:36] wmwv opened #411 "Add catalog config for Run 2.1i dr4 matched object-extraGalactic catalog"
@fjaviersanchez has prepared matched files between objectId for galaxies and the extraGalactic catalogs.  There are catalog configs for the Run 2.1.1i; and Run 2.1i dr1b.

This issue is to add one for Run 2.1i DR4.

[2020-01-15 16:44] katrinheitmann commented on #411
Just a small question: how much effort is involved in this? Is it worthwhile to do this still for Run 2.1i or should we simply wait for the new, clean runs? Thanks!

[2020-01-16 19:22] wmwv commented on #411
This is about 10 minutes of work.

[2020-01-21 20:35] morriscb opened #412 "Add more documentation to PZ created catalogs."
Many of the catalogs created by photo-z do not have documentation in their yaml files or in there class methods. This issue will add these.

[2020-01-22 15:38] reneehlozek opened #413 "Missing columns in GCR catalogs for 2.1"
I'm trying to adapt some of the GCR tutorials to run on 2.1 (see [here](https://github.com/LSSTDESC/DC2-analysis/pull/127)) but am running into missing columns needed for those tutorials (in particular object_gcr_2_lensing_cuts.ipynb and object_gcr_3_challenges.ipynb).

The missing columns are:
ext_shapeHSM_HsmShapeRegauss_resolution
mag_i_cModel
shape_hsm_regauss_etot
ext_shapeHSM_HsmShapeRegauss

[2020-01-22 15:46] wmwv commented on #413
IIRC, it may be the case that we didn't calculate a bunch of the shape information through HSM, etc. for the Run 2.1 run because we just moved on to metcal.

@johannct @EiffL Do I remember correctly about this?

[2020-01-22 15:46] wmwv commented on #413
`mag_i_cModel` should be in there.  That's likely some error in `gcr-catalogs`.

[2020-01-22 15:48] wmwv commented on #413
@reneehlozek You had also mentioned `snr_i_cModel`.  Are the additional ones?  Did you specifically not list quantities you knew were derived?

[2020-01-22 16:47] reneehlozek commented on #413
oh shoot, not I wanted to list snr_i_cModel too, must have deleted that in my cut and paste

[2020-01-22 17:21] yymao commented on #413
@reneehlozek @wmwv I think HSM is still being calculated. In fact, when I ran this only `shape_hsm_regauss_etot` is missing:

![image](https://user-images.githubusercontent.com/3792659/72917233-a70a8400-3d00-11ea-9028-8455dcd910a6.png)

@EiffL do you recall where `shape_hsm_regauss_etot` came from? This is not a quantity that we ever defined in GCR and I suspect it's a runtime user-defined quantit

[2020-01-22 17:55] johannct commented on #413
hmm so  is it a problem of different GCR version between @yymao  and @reneehlozek?
@wmwv I do not remember. The HSM of course are in the input parquet files from processing, but for 2.1 I have not been in the loop of the catalog creation, as far as I can remember.

[2020-01-24 16:28] morriscb opened #415 "Create Photoz Catalog SCHEMA.md file."
Create a specific SCHEMA.md file for the photo-z columns added in the PZWG's main catalogs.

[2020-01-25 00:08] yymao commented on #400
@evevkovacs No, this change will not break the matching mechanism. This is just to ensure that, when using matching by ID, the returned arrays are always MaskedArray.

@joezuntz Does this PR (https://github.com/yymao/generic-catalog-reader/pull/29) address your concern? However, for metacal add-on I think the composite catalog should be doing exact matching (i.e., the row order should be exactly t

[2020-01-25 00:22] yymao commented on #398
@joezuntz is this issue still relevant? @EiffL told me that you are now using a metacal composite that has the exact row order and hence this should not be a problem?

[2020-01-25 00:23] yymao commented on #389
@EiffL I think this has been fixed by #390? Can you confirm and close this?

[2020-01-25 00:25] yymao commented on #50
I think this is now possible with Heather being SPIN certified? I think this is not super high priority but we should revisit it some time.

[2020-01-27 10:09] joezuntz commented on #398
It may still be a problem later, depending on catalog format, though it's less urgent now, certainly.

[2020-01-27 10:09] joezuntz commented on #398
We could close for now and re-open later if so if you like?

[2020-01-27 14:15] yymao commented on #398
Thanks. If it's still an (potential) issue we can keep it open.

[2020-01-29 23:48] yymao commented on #412
Closed by #414. Thanks @morriscb !

[2020-01-29 23:48] #412 closed

[2020-01-29 23:50] yymao commented on #413
@reneehlozek can you confirm that all the columns that you listed are indeed missing, or just `shape_hsm_regauss_etot` is missing?

[2020-01-29 23:51] yymao commented on #411
@wmwv Are you plan to work on this or should we re-assign it to someone else?

[2020-01-29 23:55] yymao commented on #206
@wmwv Is this issue still relevant? If not we should close it. If it is still relevant, feel free to change the priority (I am currently assigning it a low priority).

[2020-01-29 23:58] yymao commented on #261
@wmwv @rmandelb @sschmidt23  This MW extinction thing had high priority once upon a time, but we seem to lose the momentum. I'm assigning it with a medium priority but I wonder if it is still a desired feature in gcr-catalogs?

[2020-01-30 00:03] yymao commented on #397
@wmwv I think we should get this fixed --- should we reassign this task to someone else?

[2020-01-30 00:04] yymao commented on #394
This should be relative simple to fix --- if anyone is interested in helping that'd be great.

[2020-01-30 00:04] yymao commented on #389
@EiffL Can you confirm that this issue has been fixed by #390, and if so, close this issue? Thanks!

[2020-01-30 00:05] yymao commented on #389
I think one of the points that you mentioned that is certainly not in #390 is a new test... but we should open a new issue for that.

[2020-01-30 00:09] yymao commented on #380
@Manal-Yassine @wmwv can you give an update about where we are in terms of locating the issue? Thanks.

[2020-01-30 00:13] yymao commented on #269
@wmwv is this still needed now that we are generating a _true_ truth catalog?

[2020-01-30 02:16] sschmidt23 commented on #261
I think it would still be useful to have for the run[x].[y] catalogs, you do need it compute correct color cuts, photo-z's, etc...  A few months ago I put together a demo notebook on how to deredden in the DC2-analysis repo by reverse engineering what Scott did to add the reddening, though I don't think I ever merged it:
https://github.com/LSSTDESC/DC2-analysis/blob/u/sschmidt23/mwdust/contributed

[2020-01-30 02:55] yymao commented on #261
Thanks @sschmidt23 --- I think then the question is whether this notebook is enough to serve those who need dereddening, or if we still need this functionality in GCR. (cc @JoanneBogart)

[2020-01-30 08:28] johannct commented on #261
I'll be happy to be assigned and brainstorm on the question of where it goes and in what form.

[2020-02-03 14:18] heather999 commented on #346
NERSC has asked we move off projecta and completely onto the new CFS soon - as in the next few weeks, exact schedule TBD. Hence, this issue has some higher priority.

[2020-02-03 20:07] JoanneBogart commented on #346
I can look into this.
I agree there should be  site defaults, but it's still the case that somebody has to specify something, at least at installation time.  If, as @wmwv suggests above, there are other places where this kind of thing comes up,  we should handle it in a uniform way.   I don't know of any reliable method to tell from a login what the site is.   We could ask everyone (or at least ev

[2020-02-04 14:50] heather999 commented on #346
I'm wondering how this would work for a docker image.  At install time, I have no idea where the image might be run, though currently I can safely assume it is at NERSC.  I'd need an environment variable that can be set to adjust the ROOT_DIR at runtime.

[2020-02-04 14:55] johannct commented on #346
we need to assume that it will have to be deployed at NERSC and at CC. Whether with an image or else. I think investigating an env variable setup is the best way forward.

[2020-02-06 10:30] boutigny commented on #346
Yes, an environment variable defined at installation time is probably the best way to go.

[2020-02-07 22:30] JoanneBogart commented on #346
My plan is
* include a little yaml file or similar in the package, mapping site name to ROOT_DIR.  There would be keys for NERSC and CC.  For NERSC the value (while we still have projecta) could be   /global/projecta/projectdirs/lsst
* at install time, look for environment variable DESC_SITE and save value, if any, in a text file accessible to the package at run time [I don't know enough about pac

[2020-02-07 22:48] yymao commented on #346
@JoanneBogart many thanks for posting your plan here! This is really helpful. I think the general direction sounds very reasonable, but I have a few specific suggestions to reduce the complexity. In particular, I would suggest (1) reducing the need of environment variables, and (2) resolve path at run time rather than at installation time.  I will post my suggestions in detail by Monday at latest

[2020-02-08 00:37] JoanneBogart commented on #346
@yymao Simplification sounds good to me!  I look forward to your comments.   One clarification:  I'm not suggesting that the paths be resolved at installation time, only that information about the the site be cached at that time, so that the typical user doesn't have to specify anything (via environment variable or any other means)

[2020-02-08 14:53] yymao commented on #346
@JoanneBogart Here's my specific suggestions (some are the same as yours):

- Include a yaml file in the package, mapping site name to corresponding `ROOT_DIR`. This yaml file will be maintained in this repo.

- Establish a module-level variable called `ROOT_DIR`:
  - Its value is set when `GCRCatalogs` is first _imported_ during runtime.
  - Its value is set according to the yaml file described a

[2020-02-09 09:21] JoanneBogart commented on #346
@yymao  I think we're converging but are not quite of one mind yet.

I agree it's better have register  resolve the path, not the readers.

I agree that users should be able to programmatically overwrite both ROOT_DIR and individual paths.   I'm not sure that is  sufficient for all use cases, though.

We need a way to set up a sensible default.  That means getting information about site to the pac

[2020-02-09 12:55] yymao commented on #346
@JoanneBogart It sounds like we are in good agreement except for _when_ and _how_ to obtain site information.

On "when": my proposal is to obtain site information every time when GCRCatalogs is imported, while yours is to obtain site information at installation time and cache. I think in both cases, `GCRCatalogs.ROOT_DIR` will be set at import time (in my case, using the site information it just

[2020-02-10 18:57] JoanneBogart commented on #346
@yymao  I don't care that much about the "when" part.  The only reason for attempting to determine site during installation is 1) if a significant fraction of (probably more casual) users  do not do their own installation -  I don't know if that's the case or not - and 2) if determination of site is not automatic.
I do have concerns about the reliability of  "how" but your idea of using socket loo

[2020-02-10 19:19] JoanneBogart commented on #346
@johannct does the above means to determine site (via response to `socket.getfqdn()` ) seem adequate?  It might not be possible to easily distinguish among different in2p3 sites, but maybe that doesn't matter if the only one involved with DESC is cc-in2p3.
I think whatever method we use should be able to positively identify both primary sites rather than just distinguishing between NERSC and not-N

[2020-02-10 19:38] johannct commented on #346
yes it seems ok also for CC, the target word would be in2p3 I guess. Can you guys show me how a catalog config would look like.... I got lost in the discussion. Then I would suggest to implement the minimal solution, and we'll need to use it to judge it concretely.

[2020-02-10 19:46] yymao commented on #346
I think in this proposal that @JoanneBogart and I converge on, the config files will not have much change except for updating all the paths to relative.

Then we will need to revise the code so that it
1. uses `socket.getfqdn` to sets a module-level variable `ROOT_DIR`
2. when loading config files, prepends `ROOT_DIR` to any paths in the config file (in memory).

[2020-02-10 20:02] JoanneBogart commented on #346
What @yymao said.   That is also my understanding.

[2020-02-10 20:06] johannct commented on #346
ok in my imagination I was contemplating the env variable to be written in the config files, so that `base_dir: /global/projecta/projectdirs/lsst/groups/PZ/PhotoZDC2/run1.2p/TRACTHDF5` for instance becomes `base_dir: ${ROOT_DIR}/projectdirs/lsst/groups/PZ/PhotoZDC2/run1.2p/TRACTHDF5`

[2020-02-10 20:11] yymao commented on #346
I've considered that too, but later feel that's unnecessary, especially because `os.path.join` makes it very easy to prepend `ROOT_DIR` to paths.

[2020-02-10 20:18] johannct commented on #346
right but it is less portable. I do not want to interfere, go ahead you thought this over much more than I did.

[2020-02-10 20:18] JoanneBogart commented on #346
I'm not sure whether this is a good thing or not but --
If we omit the env variable from the files, we have a way to implement backwards compatibility.   If the path is absolute, just use it as is.  If it is relative, prepend `ROOT_DIR`

[2020-02-10 20:21] JoanneBogart commented on #346
I guess it could be convenient when working with a new dataset which is not yet in the standard place.

[2020-02-10 20:21] yymao commented on #346
@johannct can you elaborate on the "less portable" point? I am not sure I get it.

@JoanneBogart Indeed. And in fact that's exactly the behavior of `os.path.join`: `os.path.join(a, b)` will return just `b` if `b` is already an absolute path.

[2020-02-10 21:06] JoanneBogart commented on #346
Once we move to the new scheme config files with absolute paths should not be allowed in tagged versions of gcr-catalogs.

[2020-02-10 23:37] JoanneBogart commented on #346
@yymao If you don't have objections I will try to implement this.

[2020-02-11 01:37] yymao commented on #346
@JoanneBogart sounds good. If you open a draft PR even while you're still working on it, I'll be happy to provide early feedback.

[2020-02-11 23:53] JoanneBogart commented on #346
@yymao I pushed my branch, then realized I was supposed to do this via a fork.  Sorry.
The branch is `u/jrb/root_dir`
It includes

- the yaml dict associating site with a root dir
- modified register.py
- three test configs called <something>_rel.yaml  where <something>.yaml was already a config for some catalog.

I haven't confirmed that all the possible path-like keywords are recognized and hand

[2020-02-12 00:06] yymao commented on #346
@JoanneBogart using branches is perfectly fine! Thanks!

I'll take a look and comment. Do you want to open a [draft PR](https://github.blog/2019-02-14-introducing-draft-pull-requests/)? This way it's clear that it is work in progress (and people won't be notified when you push), but it allows people to comment in the PR thread.

[2020-03-05 18:23] yymao commented on #411
Also need to add Run 2.2i catalogs.

[2020-03-05 18:24] yymao opened #418 "Add object catalog configs for Run 2.2i"
As title. We should add the config files for Run 2.2i DR3 (and DR2?) object catalogs.

[2020-03-05 18:25] yymao commented on #418
And metacal too.

[2020-03-16 17:36] #389 closed

[2020-03-16 17:36] #418 closed

[2020-03-16 19:09] #411 closed

[2020-04-02 23:38] #346 closed

[2020-04-15 21:07] JoanneBogart opened #424 "Organize catalogs under new root dir in Community File System"
In order to
* minimize disruption
* avoid sym links from within catalog area to outside
* simplify porting process to another site
* avoid including any non-catalog files in the catalog area

we plan to copy just those directories and subdirectories actually containing catalogs to the new area, preserving the hierarchy so that paths mentioned in config files don't have to change, and pruning any s

[2020-04-16 23:24] JoanneBogart commented on #424
This is the list of directories containing catalogs known to GCR (current version in master):
`^/Buzzard/Buzzard-1/addgalspostprocess
^/Buzzard/Buzzard-2/addgalspostprocess
^/Buzzard/Buzzard-21/addgalspostprocess
^/Buzzard/Buzzard-3/addgalspostprocess
^/Buzzard/Buzzard-3/v1.9.2/addgalspostprocess/
^/Buzzard/Buzzard-5/addgalspostprocess
^/PhotoZDC2/COSMODC2v1.1.4/IMAGE/10_year_error_estimates
^/Pho

[2020-04-16 23:45] JoanneBogart commented on #424
The file hierarchies represented by sym links under the current root_dir at NERSC
[code]
will need varying degrees of special handling. The simplest is descqa-catalog. Almost everything directly under it is a regular file and a catalog. The few subdirectories should be pruned in the new cfs area.

[2020-04-17 19:33] JoanneBogart commented on #424
@heather999 How about proceeding like this:
1. Make a new commit to gcr-catalogs on a branch which sets the root dir for NERSC site to `/global/cfs/cdirs/lsst/catalogs`
2. Copy directories listed above to new area, preserving hierarchy.  SSim-DC2 has to be handled a little differently from the others since we need both regular files under it and some of its subdirectories
3. Test that everything i

[2020-04-17 20:42] heather999 commented on #424
@JoanneBogart As discussed at the CS meeting yesterday, there are directories under `/global/projecta/projectdirs/lsst/groups/CS/cosmoDC2/` that we agreed could be copied to tape and removed from disk.  I transcribed Eve's list to this issue: https://github.com/LSSTDESC/DC2-production/issues/394  Is everything currently under `CS/cosmoDC2` referenced by GCRCatalogs?  I'm open to delaying the remov

[2020-04-18 00:02] JoanneBogart commented on #424
@heather999  The directories above are the ones referenced by GCR (and, I believe, the *only* ones referenced by GCR unless there are sym links referencing something outside). In all but one case they correspond to items in Eve's list of things to be permanently available on disk, but there are several items in her top list which are not referenced by GCR (and they are all under `CS/cosmoDC2` as w

[2020-04-18 00:57] sschmidt23 commented on #424
There is a lot of non-catalog files in PhotoZDC2, particularly PhotoZDC2/COSMODC2v1.1.4, as several PZ members were using catalog files directly for spatial clustering work and decided to keep their files in a subdirectory.  COSMODC2v1.1.4 is 921GB, I'm pretty sure well under half of that is photo-z catalogs, so once it is copied over I will do tons of trimming to get rid of the cruft and unassoci

[2020-04-18 01:05] yymao commented on #424
@JoanneBogart @heather999 thanks for getting this started! I wonder if we should ask in #desc-general / send out to all member mailing list to see if people are using these files outside of GCRCatalogs? I think some of these catalogs files are generated for other non-GCR purposes and the catalog creators probably just created a GCR config without thinking about file locations may be changed in the

[2020-04-18 01:16] yymao opened #425 "Add deprecation warnings when users load older catalogs that we plan to drop support"
As the number of catalogs in `GCRCatalogs` grows, we probably would want to start to drop support of the older versions of some catalogs, especially those that were created for testing or other temporary purposes.

Before we do that, `GCRCatalogs` should print out clear deprecation warnings when users try to load them, so that we can make sure those catalogs are safe to be removed.

[2020-04-18 19:00] JoanneBogart commented on #424
@yymao absolutely - would be good to get this kind of information and make sure people are aware of coming changes.
Assuming we knew in a general way what belongs in the new catalogs directory, there are several steps I imagine happening:
* NERSC copies all of projecta to some cfs directory
* We copy all directories containing useful catalogs, whether or not they are registered with GCR, to the ne

[2020-04-20 13:40] yymao commented on #424
@JoanneBogart the plan you listed sounds good, though we need to be particularly careful with the last step -- I believe there are people who access catalogs without using `GCRCatalogs` and we should ask them to change their code around Step 1 (even if they don't want to use `GCRCatalogs` to access the data, we should ask everyone use `GCRCatalogs` to get the data location.)

[2020-04-20 13:42] yymao commented on #424
@JoanneBogart On a different note, I noticed some of the recently merged PRs contain configs files that escape our `root_dir` modification. For example, this one: https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/catalog_configs/dc2_object_run2.2i_dr3.yaml and likely a few more.

Can you help update them to use the new `root_dir` construct?

[2020-04-21 03:43] JoanneBogart commented on #424
@yymao Yes, sure.  I'll look into it tomorrow.

[2020-04-21 22:17] JoanneBogart commented on #424
@yymao and @heather999  That file references the new cfs area so there is no very good way to  make it relative to the current (albeit temporary) default root dir under projecta.   I gather the idea with this file was to exercise the new cfs space.  I could change the path to make it relative to the new root dir but then it wouldn't be loadable because the corresponding directory (let alone the fi

[2020-04-21 22:38] yymao commented on #424
I'd just want till the new cfs area is ready, and we should open an issue about this so that we don'd forget.

I think the main thing that we need to be careful with is that we should check if there's any config that points to projecta but does not use `^/` construct. If so then they might be missed during this migration so we need to make sure we got everything.

[2020-05-02 15:08] yymao opened #429 "Catalog configs that still use absolute paths and need to be updated"
Here's a list of catalog configs that still use absolute paths and need to be updated.

| Catalog | Path |
| ------- | ---- |
| `dc2_metacal_run2.2i_dr3` | `/global/cfs/cdirs/lsst/production/DC2_ImSim/Run2.2i/dpdd/Run2.2i-dr3/metacal_table_summary` |
| `dc2_object_run2.2i_dr3` | `/global/cfs/cdirs/lsst/production/DC2_ImSim/Run2.2i/dpdd/Run2.2i-dr3/object_table_summary` |
| `hsc-pdr1-xmm` | `/globa

[2020-05-06 22:16] sschmidt23 commented on #424
I copied the PhotoZDC2 catalog data directories (only catalogs, not the extraneous files) to the new /global/cfs/cdirs/lsst/catalogs/PhotoZDC2 directory yesterday.  I changed the sym link to PhotoZDC2 in site_config/site_rootdir.yaml on a local copy of gcr-catalogs and tested things out, it looks like all of the PZ catalogs load properly and work.  I'll have to double check for any hard-coded refe

[2020-05-07 14:23] yymao commented on #424
@sschmidt23 thanks. After some discussion among @JoanneBogart @heather999 @johannct, we decided to adopt a different organization scheme and not to use `/global/cfs/cdirs/lsst/catalogs`. We are almost ready with the new scheme. Stay tuned.

[2020-05-11 12:07] yymao commented on #425
Let's at least start to collect the list of the "soon-to-drop-support" catalogs. I'd like to ask:

@evevkovacs - for protoDC2 and cosmoDC2
@j-dr - for buzzard
@wmwv @fjaviersanchez @johannct - for DC2 catalogs

[2020-05-11 12:42] heather999 commented on #425
Can we consider deprecating DC2 Run1.1p, as in:
https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/catalog_configs/dc2_object_run1.1p.yaml  ?
I'm not aware anyone would be seriously utilizing Run1.1p data at this point.  Soon I could imagine doing the same for Run1.2x, but there's some possibility people are still active on that data.

[2020-05-11 14:15] katrinheitmann commented on #425
What does "deprecate" entail? The 1.2p/i runs are the only ones where we have the phosim/imsim pair. Maybe there is not a lot of traffic right now, but it is an important dataset. We are also still going to have it in the paper.

[2020-05-11 14:56] johannct commented on #425
I think the initial phrasing of @yymao is correct : drop support of "older versions of some catalogs". In the case of 1.2, there is only one version. In general deprecation results from either the replacement of a functionality with another, or the dropping of features that cannot be supported anymore. In our case deprecation will thus results : 1/ in the first case from a new version of a given c

[2020-05-11 14:58] johannct commented on #425
For 1.1 specifically, I am not sure whether it can be considered as an early version of 1.2p, I just can't remember. If it can, we should deprecate it, as if asked by someone about using it, we would immediately answer "rather use 1.2p".

[2020-05-11 15:10] evevkovacs commented on #425
@yymao protoDC2_v2.1.2, protoDC2_v3.0 and protoDC2_v5.0 should be kept.  All versions of cosmoDC2 currently in the catalogs area and previously listed by Heather and me also need to be retained for the forseeable future.

[2020-05-11 18:03] heather999 commented on #424
@sschmidt23 I've copied all the PhotoZDC2 catalogs under `/global/cfs/cdirs/lsst/catalogs/PhotoZDC2` to the new `shared` area: `/global/cfs/cdirs/lsst/shared/` as discussed on Slack:
`/global/cfs/cdirs/lsst/catalogs/PhotoZDC2/COSMODC2v1.1.4` to `/global/cfs/cdirs/lsst/shared/extragalactic/cosmoDC2/PhotoZDC2/COSMODC2v1.1.4`
and
the other run-specific areas: Run2.2i  run1.2i  run1.2p  run2.1i_all_pa

[2020-05-11 22:57] JoanneBogart commented on #424
@sschmidt23  It looks like the files under `/global/cfs/cdirs/lsst/catalogs/PhotoZDC2/COSMODC2v1.1.4/PZCalibrate_small` are a subset of those under `/global/cfs/cdirs/lsst/catalogs/PhotoZDC2/COSMODC2v1.1.4/PZCalibrate_image`
Also the file under `/global/cfs/cdirs/lsst/catalogs/PhotoZDC2/COSMODC2v1.1.4/10_year_error_estimates` appear to be a subset of those under `/global/cfs/cdirs/lsst/catalogs/Ph

[2020-05-11 23:13] sschmidt23 commented on #424
Great, thanks!  So, I guess now that photo-z's live in more appropriate sub-directories, rather than one monolithic PhotoZDC2 directory, we will just have to update all of the relative paths in the config files relative to a new root directory, is that correct? Should be very simple to change.

[2020-05-11 23:21] evevkovacs commented on #424
Yes, I think so. Everything is relative now, and there is also a new yaml parameter called "based_on" so that variants of a catalog can be based on one yaml file that has all the locations etc. (ie only need to change the one yaml file and all variants of the catalog go along for the ride)
Yao can provide examples
Eve

On 5/11/20 6:13 PM, Sam Schmidt wrote:

Great, thanks! So, I guess now that pho

[2020-05-11 23:24] sschmidt23 commented on #424
I saw a few examples in the new catalog_configs, it looks very handy for testing on one healpix pixel and such.

[2020-05-11 23:33] yymao commented on #425
@katrinheitmann -- Here by "deprecate" or "drop support" I was referring to catalogs that users should not continue to use for science. As @johannct mentioned, that usually happens when there was a bug fix to the catalog, or when the catalog was meant for temporary purpose to begin with.

In this sense, the most updated processed output of Run 1.1i, 1.1p and 1.2i should all be kept. I would agree

[2020-05-11 23:47] JoanneBogart commented on #424
@sschmidt23 don't worry about the config files.  I'm updating everything in gcr-catalogs to match the new arrangement.  I'm getting close to finishing.

[2020-05-13 20:14] JoanneBogart commented on #429
All of these paths have been changed to relative in branch u/jrbogart/move-to-cfs

[2020-05-13 20:18] JoanneBogart commented on #425
@yymao How were you thinking to implement this? Maybe add a new keyword `deprecated` to the config file?

[2020-05-13 20:40] yymao commented on #425
@JoanneBogart yep, that sounds very reasonable. And we can set its value to be the deprecation message, for example:

[code]
(some of the general language can be integrated into the code that prints out the messages I guess)

With the recently merged #430 this should be easy to implement. I'll be happy to take a stab on this.

[2020-05-14 20:04] heather999 commented on #411
Just noting here that we ran back across these dr4 files while completing our migration from projecta to the NERSC CFS.  The files live on within the now deprecated `/global/cfs/cdirs/lsst/projecta/lsst/groups/SSim/matched_ids_run2.1i_dr4_*.fits.gz`  We were wondering if they should finally be registered in GCR, or copied into the new CFS `shared` area.  Javier suggested we could just delete them

[2020-05-17 23:07] jchiang87 opened #438 "Default root dir not set on NERSC interactive queue nodes"
Here's what I see on an interactive queue node at NERSC:
[code]
This could be addressed by adding an `nid` entry in [site_rootdir.yaml](https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/site_config/site_rootdir.yaml) similar to the `nersc` entry.

[2020-05-18 18:49] #424 closed

[2020-05-18 18:49] #429 closed

[2020-05-18 21:12] yymao opened #440 "An absolute path that we missed to change to relative"
I noticed this one config `cosmoDC2_v1.1.4_redmapper_v0.2.1py` that still contains an absolute path that we missed to change to relative:

https://github.com/LSSTDESC/gcr-catalogs/blob/ecd6ba8bc406af9e8b7b82da5c1f9eecdb643a1b/GCRCatalogs/catalog_configs/cosmoDC2_v1.1.4_redmapper_v0.2.1py.yaml#L5

[2020-05-18 21:34] yymao commented on #425
I am now working on a deprecation plan. I should emphasize that by deprecation we don't mean to remove these catalogs immediately, but to encourage people to switch to a more updated version (and also to let them have a chance to complain if they need the exact version).

I'll start with an overall draft plan here. Some more details need to be worked out (especially for catalogs that have add-ons)

[2020-05-19 00:16] yymao commented on #438
Thanks @jchiang87. We'll fix it.

For those who are looking for a temporary solution, you can run
[code]
and the catalogs should load as usual.

[2020-05-19 00:16] JoanneBogart commented on #438
The non-interactive debug queue has the same behavior, returning only the node name (also a string starting with `nid` followed by digits); probably the other batch queues do as well.   I don't see anything in the `socket` module which can help.  I would guess it has to do with configuration of the nodes in such a way to keep them more isolated.
I'm wary of adding a `nid` entry to site_rootdir.yam

[2020-05-19 00:40] jchiang87 commented on #438
It would be useful to update the warning that's issued to provide info on possible ways to set the root dir if it isn't set by default.    I eventually discovered that I could set `DESC_GCR_SITE` to `nersc`, but I had to read through the code to find out about it.

[2020-05-19 00:42] yymao commented on #438
@JoanneBogart In the absence of `DESC_GCR_SITE`, how about we just check if the root_dir path exists, and if so, set to it? Or combining the hostname + existing root_dir path?

[2020-05-19 00:43] yymao commented on #438
@jchiang87 Indeed. Though I think when you see the warning it's too late to set `DESC_GCR_SITE` (it's set when `GCRCatalogs` is imported), but the warning can also mention `set_root_dir`.

[2020-05-19 00:52] JoanneBogart commented on #438
No question we need to document this better and give more informative warnings.  I will see to that.
@yymao  I don't understand what you mean by `check if the root_dir path exists`

[2020-05-19 00:56] yymao commented on #438
@JoanneBogart Something like this:

[code]

[2020-05-19 01:01] JoanneBogart commented on #438
No, I don't think we should try to second-guess to that extent.  It's not impossible that two different keys will map to values which both exist at some site.    I would prefer to make the warning text more complete, explaining both alternate ways to get things set up.   If the root dir isn't needed (e.g., path in development config is absolute), the warning can be ignored.  Anyone else should fix

[2020-05-19 01:06] yymao commented on #438
Agree that the warning should be more informative.

On detecting hosts, it actually seems to that the path may be more unique than the hostname (i.e., the probability that a non-NERSC machine has a path named `/global/cfs/cdirs/lsst/shared` seems much lower than that its hostname contains `nid`), so I don't think that's second guessing.  And if we combine both the chance of misidentifying host wou

[2020-05-19 01:13] yymao commented on #438
Right now the code looks like:
https://github.com/LSSTDESC/gcr-catalogs/blob/ecd6ba8bc406af9e8b7b82da5c1f9eecdb643a1b/GCRCatalogs/register.py#L103-L106

so it actually seems reasonable to add a second check on the root_dir path itself:

[code]

[2020-05-19 01:20] JoanneBogart commented on #438
I don't think this is a situation where we should be dealing in probabilities or artificial intelligence. It's not that big a burden to ask a user to do something explicit as long as they get timely information on what to do.

[2020-05-19 01:24] yymao commented on #438
@JoanneBogart in that case, I think we should make it that a user can do something like `set_root_dir_by_site("nersc")`. I think it'd be unreasonable that a user has to look up the exact `root_dir` path everytime they use interactive queue.

[2020-05-19 01:29] JoanneBogart commented on #438
Yes, such a function could be useful; I have no objection to that.  But I suspect that the most convenient thing for many such users  would be to put a line like
export DESC_GCR_SITE='nersc'
in .bashrc or other suitable set up file so they don't have to revisit it for every project they're working on.

[2020-05-19 01:34] JoanneBogart commented on #438
We can also add a function which returns a list of available sites.

[2020-05-19 01:35] JoanneBogart commented on #438
I was planning to put that list in as part of the warning message.

[2020-05-19 01:40] yymao commented on #438
We have only two sites now so listing in the warning message is ok. A function to list them is good too.

Re: setting `DESC_GCR_SITE` -- what you said is true but I am not sure if we really want to ask all users to set `DESC_GCR_SITE` in their own `.bashrc`. Maybe what we should do is to include that in the DESC python activation script? (cc @heather999)

[2020-05-19 23:57] #438 closed

[2020-05-20 00:26] JoanneBogart commented on #440
This apparently was missed in the initial round changing from absolute to relative path.  The absolute path in question is unlike any of the ones I changed in that its old path was `projecta/projectdirs/lsst/groups/CL/redmapper/cosmoDC2_v1.1.4`.   Nothing else was under `groups/CL`
Would
`shared/xgal/cosmoDC2/addons/redmapper_v1.1.4` be a reasonable place for it? If not, do you have a suggestion?

[2020-05-20 00:33] yymao commented on #440
The new location you proposed looks good. Thanks!

[2020-05-20 06:05] johannct commented on #425
As far as I can tell, for 2.1i : this is the prod with the problem in the AGN population; but it does have the DDF region filled in if I am not mistaken. 2.2i DR3 has no DDF tracts, but the AGN problem in the WFD region is "cured". In both cases, there are too shallow patches in some tracts and filter, due to a pipeline problem in managing downstream failure to compute sky correction after calexp

[2020-05-20 06:10] johannct commented on #425
How about 2.1.1i?

[2020-05-20 14:35] yymao commented on #425
Hmm, ok. So given that 2.1i has DDF I think we should keep Run 2.1i DR4 (and deprecate DR1 and DR3)?

What's the difference between 2.1.1i and 2.2i? I thought the former was just a test run for 2.2i but I could be wrong. @jchiang87 @katrinheitmann what do you think?

[2020-05-20 14:42] jchiang87 commented on #425
Image-wise, 2.1.1i is a subset of 2.2i DR3, and was indeed just a test run for 2.2i. Assuming the region of the sky covered by 2.1.1i has been processed by the Stack for 2.2i, I think we are safe to deprecate 2.1.1i.

[2020-05-20 14:51] yymao commented on #425
Thanks @jchiang87. Based on this I've updated the plan in the [comment above](https://github.com/LSSTDESC/gcr-catalogs/issues/425#issuecomment-630447618).

[2020-05-20 15:43] heather999 commented on #425
@yymao If we're keeping Run2.1i DR4 (I think we should) and deprecating the previous data releases, should we revisit: https://github.com/LSSTDESC/gcr-catalogs/issues/411 which would add the Run2.2i DR4 matched object-extraGalactic catalog that Javi prepared?

[2020-05-20 15:54] yymao commented on #425
Yes, possibly. There are similar issues in other catalogs too (i.e., main catalog should be deprecated but some of its add-ons do not present for the newer version).

I was planning to deal with all the add-on issues once we have agreed on the plan for main catalogs.

[2020-05-20 16:56] evevkovacs commented on #425
@yymao Plan for extragalactic catlogs protoDC2 and cosmoDC2 is fine. Thanks.

[2020-05-21 01:28] yymao commented on #425
Now that we have converged on the deprecation plan for main catalogs, I am looking into the issue of add-on catalogs.

When a main catalog is going to be deprecated, its associated add-on catalogs will by default be deprecated as well. However, if the add-on product is not available for the main catalog's newer alternative (as listed [above](https://github.com/LSSTDESC/gcr-catalogs/issues/425#issu

[2020-05-21 15:27] #440 closed

[2020-05-21 16:35] JoanneBogart opened #445 "Make reader for star truth parquet files"
Preferably should be general enough to handle sn truth parquet (not yet created).

[2020-05-21 18:29] sschmidt23 commented on #425
I should be able to produce photo-z's for run1.2pv4 and 2.1(i? I think there's a typo above) DR4. I was trying to finish up a ML photo-z catalog for cosmoDC2v1.1.4, I can work on generating these catalogs as soon as I finish that up.

[2020-05-21 18:40] fjaviersanchez commented on #425
I can prepare a matched catalog for 2.1i Run dr4

[2020-05-22 18:51] heather999 commented on #438
Is this something we have to alert CC about for their own activation scripts @yymao ?

[2020-05-22 18:54] yymao commented on #438
I think they already have one actually (this `DESC_GCR_SITE` was set up upon the request of @boutigny).

[2020-05-22 20:41] boutigny commented on #438
Yes, I confirm that we had to force `DESC_GCR_SITE` on the notebook platform as it was not possible set it automatically.

[2020-05-25 16:18] yymao opened #447 "Better naming scheme for photo-z addon/composite catalogs?"
When working on #446, I noticed that some photo-z addon/composite catalogs have inconsistent names.

While we haven't enforced a strict rule for naming addon and composite catalogs, they should generally follow these example patterns below:

- Main catalog: `cosmoDC2_v1.1.4`
- Addon catalog: `photoz_v1_for_cosmoDC2_v1.1.4` (not for standalone use)
- Composite catalog: `cosmoDC2_v1.1.4_with_photoz_

[2020-05-26 22:50] sschmidt23 commented on #447
Yes, the messy naming scheme has been on my to-do list for a while, I'll try to bump it up in priority.

[2020-05-27 23:57] yymao commented on #401
Here's an updated [GCR Prioritization Plan](https://docs.google.com/document/d/e/2PACX-1vQdPmOpaF0eXGiBhUe2B6j57EMoV_lvZVhX7_cdChFMmTr9EoOejmnzMxhTnkg4YAo3F0Zp6eoL8mG1/pub) written by Yao-Yuan Mao, Joanne Bogart, Johann Cohen-Tanugi during the 2020 January collaboration meeting.

[2020-05-28 00:18] yymao commented on #271
This has now been resolved with the release of v0.17.0

[2020-05-28 00:18] #271 closed

[2020-05-28 00:23] yymao commented on #210
I think this is no longer relevant for object catalogs since we have moved to using parquet format -- which is cheap to store a column with a constant value. In fact, `tract` and `patch` are now store in the parquet file as columns.

For per-image catalogs or other uses (like transient catalogs), this is more of an issue of how to join different catalogs, which is a separated question that is quit

[2020-05-28 00:23] #210 closed

[2020-05-28 00:26] yymao commented on #268
I am bumping the priority to medium and labeling it "help wanted" since this is one of the most asked questions.

[2020-05-28 00:27] yymao commented on #269
Closing this since we do have _real_ DIA catalogs. @wmwv please feel free to reopen if needed.

[2020-05-28 00:27] #269 closed

[2020-05-28 00:30] yymao commented on #331
@rmandelb sorry to suddenly get back to your almost-one-year-old question but isn't object catalog _by construction_ using forced photometry?

[2020-05-28 00:35] yymao commented on #383
This issue actually has been fixed by #434.

[2020-05-28 00:35] #383 closed

[2020-05-28 00:39] yymao commented on #413
I'm closing this because all the reported missing columns (with the exception of `shape_hsm_regauss_etot`) are all indeed present in Run 2.1i.

`shape_hsm_regauss_etot` is a quantity added by user during runtime in the [object_gcr_2_lensing_cuts](https://github.com/LSSTDESC/DC2-analysis/blob/master/tutorials/object_gcr_2_lensing_cuts.ipynb) tutorial.

@reneehlozek, please reopen if this remains an

[2020-05-28 00:39] #413 closed

[2020-05-28 00:47] yymao opened #448 "Establish a standardized catalog config specification"
During the early development stage of `GCRCatalogs`, one of the guiding principles was to give as much flexibility as possible to the catalog providers, to lower the barrier for catalog providers who want to make their product accessible via `GCRCatalogs`.

With `GCRCatalogs` now being one of the main data access methods for a wide range of different data products in the DESC, the flexibility that

[2020-05-28 00:48] yymao commented on #345
Superseded by #448

[2020-05-28 00:48] #345 closed

[2020-05-28 00:58] yymao commented on #448
Equally important are the tests to validate catalog configs, ensuring that they do follow the specification.

There have been some discussion between @JoanneBogart and me in #446. We have now already established a few reserved keywords (and are documenting them in`CONTRIBUTING.md`, see #446), so in principle we can already add tests to validate catalog configs that include any of these reserved ke

[2020-05-28 12:52] rmandelb commented on #331
I can give you an answer based on what I vaguely recall my concern being from a year ago, but I don't know if the reasons behind it still apply.   At that time, I believe I was considering the perspective of a newbie to DC2 products (thinking ahead to the collaboration meeting and potential new users) seeing there were many different types of catalogs here and in the tutorials, and wanting to unde

[2020-05-28 14:08] yymao commented on #331
Thanks for the clarification, @rmandelb. I agree that we use the term "Object Catalog" as a jargon, and it may not be obvious to new users what it means.

I added a one-line description of Object Catalogs in #449 ([quick link to the rendered version](https://github.com/LSSTDESC/gcr-catalogs/blob/u/yymao/update-schema-md/GCRCatalogs/SCHEMA.md#schema-for-dc2-object-catalogs)). Would this alleviate y

[2020-05-29 15:40] #425 closed

[2020-05-31 15:45] #447 closed

[2020-05-31 23:54] rmandelb commented on #331
That would be a reasonable way to do it, though I'm not sure whether the schema or the README is the right place to do the job.

Going back to my original question, I think it's valuable to give some indication (again in ~a sentence) which quantities are measured in a consistent way across bands versus completely independently.

[2020-06-01 11:57] yymao commented on #331
Ah sorry, I think I totally misunderstood your original question. I thought it was about per image vs. coadd, but it's actually about fixed positions (forced photometry) vs. independent positions in individual bands.

How about adding this sentence to the schema?

_The photometry in the Object Catalog is measured with the forced photometry method, i.e., it is consistently measured across multiple

[2020-06-01 12:14] rmandelb commented on #331
Yes, that's what my question was about.  Thanks.   I understood this is taken as a given by people familiar with these products, but I couldn't find it written down in places that are commonly accessed by new users of these products.

[2020-06-01 14:32] yymao commented on #331
Thanks, @rmandelb. Edit pushed to #449.

[2020-06-01 22:57] JoanneBogart commented on #445
I pushed a branch u/jrbogart/truth-parquet-reader which, with minimal testing, seems to handle star truth summary, sn truth summary, and sn variability truth. The largest of these files is 1.4 Gbytes.  It can load star variability truth (7.1 Gbytes) but all attempts to fetch data have failed with
[code]
even when I've included a cut to limit rows returned (but not rows searched).  Perhaps I can av

[2020-06-01 23:07] JoanneBogart commented on #445
@yymao if you look at the reader much of it will look very familiar.  In particular, the class ParquetFileWrapper is nearly identical to the version in dc2_dm_catalog.py.   Ultimately I think it should be moved to a utility module or base class, but first it may need some enhancement to iterate over row groups.

[2020-06-02 19:07] yymao commented on #445
@JoanneBogart thanks for the update! I'll try to take a look soon (was busy with another project this week). Do you want to open a draft PR (or a regular PR if it's ready) so that I can take a look using just the browser? :slightly_smiling_face:  Thanks!

[2020-06-02 23:58] JoanneBogart commented on #445
@yymao  Sure, I'll open a draft PR if that makes it easier for you to look.  I think it's likely that we'll want to reorganize so utility code can just be in one place, but what I have now will give you an idea of where I'm headed.

[2020-06-04 20:55] sschmidt23 opened #457 "Add ML photoz for cosmoDC2_v1.1.4_image"
As an alternative to template-based BPZ, and to have an example of an machine learning based photometric redshift code, add photo-z's computed with FlexZBoost to gcr-catalogs for cosmoDC2_v1.1.4_image (at least the subset with i<26.5, as is done for BPZ)

[2020-06-08 12:19] #394 closed

[2020-06-11 13:53] wmwv opened #460 "psf_fwhm_{band} is incorrectly defined in DC2ObjectParquetCatalog"
1. [ ] Fix psf_fwhm_{band} definition in DC2ObjectParquetCatalog to be based on the second momements of the _psf_model_, not the moments measured on the object.

https://github.com/LSSTDESC/gcr-catalogs/blob/master/GCRCatalogs/dc2_object.py#L774

[code]

is incorrect.  It should be reading from the PSF model, which is `{band}_base_SdssShape_psf_{xx,yy,xy}`.

This definition is correct in `DC2Objec

[2020-06-11 14:21] #460 closed

[2020-06-15 22:46] sschmidt23 opened #462 "Add photo-z's for Run2.2i_dr6a"
Several grad students want to use run2.2i_dr6 data for blending studies, so I want to add photo-z's for this dataset.

[2020-06-16 00:21] sschmidt23 commented on #462
I created a branch to address this [here](https://github.com/LSSTDESC/gcr-catalogs/tree/issue/462/run22idr6a_photozs).  The reader for this works now, but I have an absolute path to a temp directory in the PZ WG area for the photoz parquet files. I do not have write permission to move the relevant parquet files to /global/cfs/cdirs/lsst/shared, so I need someone with permissions to copy the 78 par

[2020-06-16 00:23] yymao commented on #462
@sschmidt23 --- you can open a ticket in https://github.com/LSSTDESC/desc-help/issues ask for data copy and reference this issue.

[2020-06-16 12:14] heather999 commented on #462
Issue https://github.com/LSSTDESC/desc-help/issues/19 opened and the copy into the shared area is now complete

[2020-06-18 00:50] yymao commented on #462
Closed by #463

[2020-06-18 00:50] #462 closed

[2020-06-26 23:05] sschmidt23 opened #465 "cosmoDC2_image photo-z composite catalogs often fail to load"
Due to the large sizes of the photo-z add_on catalogs for cosmoDC2_v1.1.4_image and the need to load the entire catalog because only a subset of the rows have photo-z's, and those are matched by galaxy_id, the catalog often causes memory problems when `photoz_pdf` (an array or 300 floats for every galaxy) is included in the queries.  The matching scheme currently used means that this problem is no

[2020-06-29 01:24] #445 closed

[2020-07-16 16:58] fjaviersanchez opened #470 "Add DR6a matched catalog"
This issue is to track progress on the addition of a DR6a matched catalog (with Run 2.2i true). I'll open a PR soon following this

[2020-07-17 21:25] yymao commented on #470
Fixed by #472

[2020-07-17 21:25] #470 closed

[2020-07-17 21:25] yymao commented on #465
Fixed by #466

[2020-07-17 21:25] #465 closed

[2020-07-17 21:26] yymao commented on #457
Fixed by #467

[2020-07-17 21:26] #457 closed

[2020-07-17 21:26] yymao commented on #331
Fixed by #449

[2020-07-17 21:26] #331 closed

[2020-07-18 19:07] yymao commented on #380
Closing this for now. If the issue is still relevant, please reopen.

[2020-07-18 19:07] #380 closed

[2020-07-18 19:09] yymao commented on #261
It seems like we will not be adding MW extinction via GCR (users can calculate them following the tutorial notebook @sschmidt23 made).

Closing this now unless people feel strongly that we should add MW extinction via GCR.

[2020-07-18 19:09] #261 closed

[2020-07-18 21:34] yymao opened #475 "Allow accessing add-on attributes in photo-z composite catalogs"
Some of the photo-z composite catalog configs have the line
[code]
However, sometimes it is desirable to access attributes in the add-on catalogs, not just the ones in the main catalog. In those case, this option should be removed from the config files. See e.g., https://github.com/LSSTDESC/DC2-analysis/pull/145#discussion_r456829248.

@sschmidt23 can you remove this line when appropriate?

[2020-08-04 11:14] joezuntz opened #477 "len(catalog) fails for Parquet catalog dc2_object_run2.2i_dr6c"
I get the error below when trying to find the length of the catalog `dc2_object_run2.2i_dr6c`.
Might just be a missing pair of brackets?

[code]

[2020-08-04 12:14] joezuntz commented on #477
Update: I tried doing this manually by adding the brackets in the python debugger.  It is extremely slow; it seems to be reading in the entire catalog, rather than looking at the metadata.

Here's an improvement:
[code]
it's not trivially fast but still much better.

[2020-08-04 12:27] yymao commented on #477
Thanks, @joezuntz! PR opened in #478.

[2020-08-05 00:09] sschmidt23 opened #479 "Add reader for random forest photo-z's for subset of cosmoDC2_v1.1.4_small"
@MarkusMichaelRau asked about creating a catalog reader for a catalog of photo-z's created using a random forest algorithm for a subset of cosmoDC2_v1.1.4_small.  The catalog has a slightly different set of columns and is all stored in a single parquet file, so it will need a few tweaks compared to the nominal setup for the other extragalactic catalog readers.

[2020-08-05 18:53] #477 closed

[2020-09-02 22:05] heather999 opened #482 "add Run2.2i dr6d"
As discussed in https://github.com/LSSTDESC/DC2-production/issues/397 we are preparing to release Run2.2i DR6d.  The object and metacal catalogs are ready at NERSC and are being copied into the shared area.  A PR will be forthcoming which should register the catalogs.

[2020-09-02 23:22] yymao commented on #479
Closed by #481

[2020-09-02 23:22] #479 closed

[2020-09-02 23:25] yymao commented on #475
I think this has been fixed. @sschmidt23 if it's not the case please reopen.

[2020-09-03 22:07] sschmidt23 commented on #475
I just checked, there are two files that still have this issue (and one with an unnecessary only_use_master_attr: False), making a PR to fix this now.

[2020-09-03 23:05] #475 closed

[2020-09-08 19:55] #482 closed

[2020-10-05 14:45] heather999 opened #487 "Replace metacal reference to Run2.2i dr6d in favor of Run2.2i-dr6-wfd-v1"
The base directory for the Run2.2i dr6-wfd-v1 metacal catalogs are pointing to a non-existent dr6d directory. We never made a dr6d release, rather we made a dr6-wfd-v1 release.

As discussed on Slack: https://lsstc.slack.com/archives/C3WLSCNKA/p1601902355012600

[2020-10-05 15:29] #487 closed

[2020-11-03 22:13] fjaviersanchez opened #492 "Create config for matched dr6_wfd_with_metacal catalog"
This issue is to add a new catalog config for the data living here: `/global/cfs/cdirs/lsst/shared/DC2-prod/Run2.2i/addons/matched/dr6-wfd-v1`. A PR will follow

[2020-12-02 15:07] yymao commented on #492
Closed by #493